<div class="header-container">
    <div class="header-info"><span class="info-name"></span>(<span class="info-ident"></span>) <button class="btn logout" style="color: #4FCAFF">退出</button></div>

    <script>
        $('.logout').on('click', function(e) {
            e.preventDefault();
            $.get(url.logout, function(res){
                window.location.href = ''
                sessionStorage.clear();
            })
        })
        const info = JSON.parse(sessionStorage.getItem("info"));
        $('.info-name').text(info.name);
        $('.info-ident').text(info.identity);
    </script>
</div>