<div class=" menu-right float-right overflow-hidden position-relative">
    {{#>header}}{{/header}}
    <div class="right-container">
        <div id="editor">
        </div>
    </div>
    {{!-- {{#>footer}}{{/footer}} --}}
</div>