@import "./style/index.less";

* {
    text-decoration: none !important;
    padding: 0;
    margin: 0;
}
.toast {
    width: 200px !important;
    background: rgba(0, 0, 0, 0.5);
    border: none !important;
    color: @white;
    text-align: center;
    left: 50%;
    top: 50%;
    z-index: 100000;
    transform: translateX(-50%);
    // opacity: 1;
}
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 !important;
    min-width: 1200px;

    .body-content {
        flex: 1;
        background-color: @lightWhite;
        .header-container {
            height: 80px;
            line-height: 80px;
            background-color: @white;
            position: fixed;
            // margin-top: 0;
            // flex: 1;
            width: 100%;
            z-index: 5;
            padding-left: 30px;
            padding-right: 30px;
            .header-info{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logout{

                }
            }
        }

        .mid-content {
            margin-left: 24px;
            margin-top: 24px;
            margin-right: 24px;
            margin-bottom: 24px;
            background-color: @white;
            // background: @tabHeader;
            margin-top: 104px;

            //分页左侧提示文字隐藏
            .pagination-detail {
                display: none;
            }

            //筛选模块样式
            #select {
                width: 100px;
                display: inline-block;
            }

            //表格公共样式
            .table-container {
                padding-left: 24px;
                padding-right: 24px;
                //.row-container{
                //    padding-left:20px;
                //}
                // thead> tr{
                //     height: 56px;
                //     line-height: 56px;
                // }
                .opt {
                    font-size: 14px;
                    color: @tabHeader;
                    margin: 20px;
                }

                .opt.remove {
                    color: @delButton;
                }

                //行样式
                #table {
                    border: 0;
                }

                tbody tr {
                    height: 81px;
                    font-size: 14px;
                    // td.last-column {}
                }

                //表头样式
                thead tr {
                    background-color: @tabHeader;
                    color: @white;
                    font-weight: normal !important;
                    font-size: 14px;
                }

                .table-striped tbody tr:nth-of-type(odd) {
                    background-color: #F7FDFF;
                }

                .fixed-table-pagination {
                    height: 140px;
                    line-height: 140px;

                    .float-right {
                        margin-top: 50px;
                        .pagination{
                            .page-item{
                                margin: 0 8px;
                                a{
                                    width: 24px;
                                    height: 24px;
                                    padding: 0 !important;
                                    line-height: 20px;
                                    text-align: center;
                                    font-size: 12px;
                                    border-radius: 4px;
                                    color: #666;
                                    border-color: #d9d9d9;
                                }
                            }
                            .page-item.active{
                                a{
                                    color: @tabHeader !important;
                                    background-color: @white;
                                    border-color: @tabHeader;
                                }
                            }
                            .page-item.page-pre,.page-item.page-next{
                                a{
                                    width: 72px;
                                }
                            }
                        }
                    }
                }
            }

            //首页管理样式
            .index-manage-container{
                .table-container{
                    .module_number{
                        width: 40px;
                        background-color: rgb(225, 230, 231);
                        color: @lightBlack;
                        border-radius: 4px;
                        height: 32px;
                        outline: 0;
                        border: 0;
                        text-align: center;
                    }
                }
            }
            .job-class-container.products-center-container{
                .job-class-top{
                    padding: 24px 24px 0;
                }
            }

            //招聘信息样式
            .store-delivery-container {
                .card {
                    border: 0;
                    border-bottom: 1px solid @lightWhite;
                    width: 100%;

                    .card-body {
                        display: flex;
                        justify-content: space-between;
                        padding: 28px 24px;
                        align-items: center;
                        .card-body-title {
                            font-size: 24px;
                            font-weight: 600;
                            letter-spacing: 3px;
                        }

                        .card-body-btn {
                            .btn {
                                width: 128px;
                                height: 32px;
                                font-size: 14px;
                            }

                            .btn:nth-child(1) {
                                color: @tabHeader;
                            }

                            .btn:nth-child(2) {
                                background-color: @tabHeader;
                                color: @white;
                            }
                        }
                    }
                }
            }

            //弹窗样式
            .modal-form {
                .modal-dialog {
                    width: 940px;
                    max-width: unset;
                }

                .form-input-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 14px;
                }
            }
        }
    }

    //侧边栏样式
    .sider-bar {
        width: 200px;
        height: fit-content;

        .side-bar-cont {
            overflow: auto;
            position: fixed;
            margin-left: 0;
            width: 200px;
            z-index: 10;
            background-color: #12181A;
            height: 100vh;

            .sider-top {
                background-color: #12181A;
                height: 80px;
                line-height: 80px;
                text-align: center;

                img {
                    width: 60%;
                    margin: auto;
                    // position: relative;
                    // top: 50%;
                    // transform: translateY(-50%);
                }
            }

            .sider-bottom {
                .card {
                    border: 0;
                    border-radius: 0 !important;
                    .card-header {
                        background-color: #12181A;
                        border-radius: 0;
                        .btn-link.focus,
                        .btn-link:focus {
                            text-decoration: none;
                        }
                        .mb-0{
                            img{
                                width: 16px;
                            }
                        }
                    }

                    .collapse,
                    .collapsing {
                        background-color: #EAEDF1;

                        .list-group-item {
                            border: 0;
                            background-color: #3B4458;
                            color: #8F9EB2;
                            font-size: 14px;
                            border-radius: 0;
                        }

                        .list-group-item:hover {
                            background-color: #EAEDF1;
                            color: @tabHeader !important;
                        }

                        .list-group-item.active {
                            background-color: #EAEDF1;
                            color: @tabHeader !important;
                            border-left: 4px solid @tabHeader;
                        }
                    }
                }
            }
        }
    }
}

//帮助中心  赵志强
.department-help-content {
    width: 100%;
    height: 100%;
    background: @white;
    overflow: hidden;
    position: relative;
    .content-bottom-right {
        position: absolute;
        top: 117px;
        left: 478px;
        .bottom-right-img {
            margin-left: 80px;
            margin-top: 30px;
            width: 160px;
            height: 160px;
        }
    }
    .bottom-right-imgs {
        margin-top: 30px;
        width: 160px;
        height: 160px;
    }

    .help-content-top {
        width: 100%;
        height: 72px;
        border-bottom: 1px solid @lightWhite;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0 40px;
        box-sizing: border-box;
        color: @lightBlack;
        font-weight: 700;
        font-size: 24px;
    }

    .help-content-bottom {
        width: 100%;
        padding: 40px 80px;
        box-sizing: border-box;

        .content-bottom-left {
            width: 100%;
            float: left;
            .text-wrap {
                width: 100%;
                margin-bottom: 24px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .text-wrap-list{
                    margin-right: 20px;
                }
                .list-item{
                    display: none;
                    margin-top: 26px;
                }
                .text-wrap-top {
                    color: @lightBlack;
                    font-size: 18px;
                    font-weight: 700;
                }

                .text-wrap-wrap {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    height: 55px;
                    .title-name {
                        font-size: 14px;
                        color: @lightGray;
                    }

                    .title-input {
                        width: 320px;
                        height: 32px;
                        border: 0;
                        background: @radioWhite;
                        border-radius: 4px;
                        padding-left: 14px;
                        box-sizing: border-box;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .press-button{
        width: 80px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .button-left{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid @tabHeader;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 36px;
            color: @tabHeader;
            margin-top: 86px;
            padding-bottom: 8px;
            cursor: pointer;
        }
        .reduce-list,.reduce-list-bottom{
            border-color: #666;
            color: #666;
        }
    }
    .preserve{
        width: 128px;
        height: 32px;
        background: @tabHeader;
        color: @white;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin:0 auto;
        cursor: pointer;
        margin-top: 40px;
    }
}



#recruic-wrap{
    .search-from{
        .search-input{
            width: 60%;
            display: inline;
        }
    }
    .myrow {
        display: flex;
        flex-direction: row;
        /*margin-left:1em;*/
    }
    .float-left{
        // float: unset !important;
        width: 100%;
    }
    .toolbar{
        form{
            input,select,.input-group{
                background:@radioWhite;
                border:none;
                color:@radioFontWhite;
                font-size:12px;
            }
            .input-group{
                border-radius: 0.25rem;
                height: 32px;
                border: none;
                outline: none;
                background-color: #F3F6FA;
                color: #A0AAB6;
                font-size: 12px;
                button{
                    span{
                        color:@radioFontWhite;
                        font-size:12px;
                    }
                    .time_close{
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        line-height: 15px;
                        text-align: center;
                        float: right;
                        border: 1px solid @lightGrayInput;
                        border-radius: 50%;
                        font-style: normal;
                        color: @lightGrayInput;
                        font-size: 12px;
                        margin-right: 8px;
                        margin-top:1px;
                    }
                }
            }
        }
    }
    #filterBy{
        float:right;
        // margin:14px 100px 0 0;
        width:64px;
        height:32px;
        line-height:16px;
        color:@tabHeader;
        border:1px solid @tabHeader;
        background:@white;
        font-size:14px;
    }
    .edit-modal{
        max-width: 1000px;
        width:940px;
        #exampleModalCenterTitle{
            margin:0 auto;
        }
        .modal-header{
            border:none;
        }
        .rec-from{
            .form-row{
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            .form-group{
                position: relative;
                display: flex;
                align-items: center;
                width:300px;
                label{
                    color:@lightGray;
                    font-size:14px;
                    width:100px;
                    text-align: right;
                    margin-right:10px;
                }
                input::placeholder{
                    color:@radioFontWhite;
                    font-size:12px;
                }
                textarea::placeholder{
                    color:@radioFontWhite;
                    font-size:12px;
                }
                .form-control{
                    background:@radioWhite;
                    border:none;
                }
            }
            .detail_area{
                margin-left:76px;
            }
            .main_info{
                width:100%;
                padding:0 60px;
            }
            input,textarea{
                font-size:12px;
                color:@radioFontWhite;
            }
        }
        .modal-footer{
            border:none;
            margin:0 auto;
            button{
                width:128px;
                height:32px;
                line-height:16px;
                font-size:14px;
            }
            .btn-info{
                color:@tabHeader;
                border:1px solid @tabHeader;
                background:@white;
            }
            .btn-primary{
                color:@white;
                border:1px solid @tabHeader;
                background:@tabHeader;
            }
        }
    }

    .work_place_list{
        list-style: none;
        border:1px solid @lightGrayInput;
        li{
            padding-left:10px;
        }
    }

    .active_background{
        background:rgb(124, 124, 214);
        color:@white;
    }

    .active_background_two{
        background:rgb(72, 72, 231);
        color:@white !important;
    }
    #edit_job_class{
        color:@radioFontWhite;
        font-size:12px;
    }
    .edit_select{
        position: relative;
        height:calc(1.5em + .75rem + 2px);
        width:100%;
        border-radius: 4px;
        border:1px solid @lightGrayInput;
        line-height: 30px;
        text-align: center;
        color:@radioFontWhite;
        font-size:12px;
        background:@radioWhite;
        border:none;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .scroll_work{
        display: none;
        width:200px;
        position: absolute;
        top:42px;
        left:84px;
        z-index: 2;
        height:200px;
        overflow: hidden;
        background:@white;
        border:1px solid @lightGrayInput;
        border-radius: 6px;
        .scroll_wrap{
            width:260px;
            height:200px;
            overflow-y:scroll;
            .edit_work_place_list{
                list-style: none;
                width:220px;
                li{
                    padding-left:10px;
                    position: relative;
                    font-size:12px;
                    color:@radioFontWhite
                }
            }
        }
    }


    .city_place{
        display: none;
        width:200px;
        position: absolute;
        top:42px;
        left:290px;
        z-index: 2;
        height:200px;
        overflow: hidden;
        background:@white;
        border:1px solid @lightGrayInput;
        border-radius: 6px;
        .city_wrap{
            width:260px;
            height:200px;
            overflow-y:scroll;
            .city_content{
                list-style: none;
                width:220px;
                li{
                    padding-left:10px;
                    font-size:12px;
                    color:@radioFontWhite
                }
            }
        }
    }
    .county_place{
        display: none;
        width:200px;
        position: absolute;
        top:42px;
        left:496px;
        z-index: 2;
        height:200px;
        overflow: hidden;
        background:@white;
        border-radius: 6px;
        border:1px solid @lightGrayInput;
        .county_wrap{
            width:260px;
            height:200px;
            overflow-y:scroll;
            .county_content{
                list-style: none;
                width:220px;
                li{
                    padding-left:10px;
                    font-size:12px;
                    color:@radioFontWhite
                }
            }
        }
    }


    .fl{
        float: left;
        width:280px;
        border:1px solid @lightGrayInput;
        border-radius: 4px;
        color:@lightGrayInput;
    }
    .timeSlot{
        line-height: 30px;
    }
    .slot{
        margin-left: 20px;
        cursor: pointer;
    }
    .slot.active{
        color: blue;
    }
    .pl-10{
        padding-left: 10px;
    }
    .pr-10{
        padding-right: 10px;
    }


    .prev_main{
        .modal-dialog{
            max-width: 850px;
            .modal-content{
                .modal-header{
                    border-bottom:none;
                    #exampleModalLabel{
                        font-size:24px;
                        color:@lightBlack;
                        font-weight:bold;
                    }
                }
                padding:20px;
                .prev_main_info{
                    .tab_prev{
                        float:left;
                        width:268px;
                        label{
                            font-size:14px;
                            color:@lightGray;
                        }
                        span{
                            font-size:14px;
                            color:@lightBlack;
                        }
                    }
                }
                .work_content{
                    border-top:1px solid @lightWhite;
                    margin-top:20px;
                    padding-top:20px;
                    div{
                        label{
                            float:left;
                            width:76px;
                            height:14px;
                            font-size:14px;
                            color:@lightGray;
                        }
                        p{
                            float:left;
                            width:690px;
                            font-size:14px;
                            color:@lightBlack;
                        }
                    }
                }
                .modal-footer{
                    border-top:none;
                    .btn-primary{
                        margin:0 auto;
                        width:128px;
                        height:32px;
                        line-height:16px;
                    }
                }
            }
        }
    }

    .table .thead-blue th {
        color: @white;
        background-color: @tabHeader;
        border-color: @tabHeader;
        font-size:14px;
    }
    #table-edit,#table-del,#table-start,#table-see{
        font-size:14px;
        color:@tabHeader;
        margin:0 10px;
    }

    .aActive{
        color:@delButton !important;
    }
}
.events {
    padding: 24px 0 0 40px;

    .event-modal .modal-dialog-centered {
        max-width: 800px !important;
    }

    .btn {
        width: 128px;
        height: 32px;
        line-height: 20px;
    }

    .btn-secondary {
        background: @white;
        border-color: @tabHeader;
        color: @tabHeader;
    }

    .btn-primary {
        background: @tabHeader;
        border-color: @tabHeader;
    }

    input {
        margin-left: 40px;
        background: @radioWhite !important;
        border: none !important;
    }

    textarea {
        height: 260px;
        margin-left: 40px;
        background: @radioWhite !important;
        border: none;
    }

    select {
        border: none !important;
        background: @radioWhite !important;
    }

    label {
        color: @lightGray;
        font-size: 14px;
    }

    .close-btn {
        position: absolute;
        right: 0;
        cursor: pointer;
    }

    .card {
        width: 510px;
        background: #F5F5F5;
        border-radius: 10px;
        border: none !important;
        .card-body{
            padding-top: 8px;
            padding-bottom: 12px;
        }
        .card-header {
            background: #F5F5F5;
            border: none;
            padding-bottom: 0;
        }
    }

    .enent {
        margin-bottom: 30px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .card-container {
        // margin-top: 100px;
        height: 150px;
    }

    .date {
        line-height: 150px;
        width: 50px;
    }

    .line {
        width: 1px;
        height: 120%;
        background: @tabHeader;
        margin: 0 38px 0 44px;
        position: relative;

        .cls-img {
            position: absolute;
            right: -12px;
            cursor: pointer;
        }

        .cle {
            width: 14px;
            height: 14px;
            background: @tabHeader;
            border-radius: 50%;
            position: absolute;
            top: 48.5%;
            right: -7px;
        }
    }
}

//公司交流
.company-talk-container{
    .mainModal{
        .bootstrap-table .fixed-table-toolbar .bs-bars{
            float: unset !important;
            
        }
        .job-class-top{
            border-bottom: 1px solid #EEE;
            margin-left: 12px;
            margin-right: 12px;
            padding-left: 12px;
            padding-right: 12px;
            
        }
    }
    .table-container{
        // float: right;
        margin-top: 10px;
        
        .float-left{
            float: unset !important;
        }
    }
    .row-searchWork{
        // width: 600px;
        #filterByComm{
            background-color: @white;
            width: 64px;
            height: 32px;
            font-size: 14px;
            color: @tabHeader;
            border: 1px solid @tabHeader;
            border-radius: 4px;
        }
        .searchWork{
            height: 32px;
            border: none;
            outline: none;
            background-color: #F3F6FA;
            color: #A0AAB6;
            font-size: 12px;
            text-align: center;
            width: 50%;
        }
        input::placeholder{
            color: #A0AAB6;
        }
    }
    .main-searchWork{
        border:1px solid #ced4da;
        border-radius: 0.25rem;
        height: 32px;
        border: none;
        outline: none;
        background-color: #F3F6FA;
        color: #A0AAB6;
        font-size: 12px;
        width: 50%;
        .form-control{
            font-size: 12px;
            color: #A0AAB6;
            .time_close{
                background: url('../../img/timer.png') no-repeat;
                background-size: 100%;
                width: 14px;
                height: 14px;
            }
        }
    }
    .btn-primary{
        color:@white;
        border:1px solid #007bff;
        background:#007bff;
        font-size: 14px;
        width: 128px;
        height: 32px;
        border-radius: 4px;
        margin-top: 6px;
    }
    .table-searchWork{
        width: 100%;
        // padding:0 24px;
        box-sizing: border-box;
    }
    .table-see-searchWork{
        margin:0 6px;
        color: @tabHeader;
        font-size: 14px;
    }
    .table-del-searchWork{
        color: @delButton;
    }
    .modal-footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .btn-secondary{
            width: 80px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn-primary{
            width: 80px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0;
        }
    }
    .editor-content{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}

