
{{#>default}}
<div class="department-structur-container">
  <div class="department-structur-left">
    <div class="left-title">部门结构</div>
    <div class="left-content">
      <div class="item">
        <span>全部</span><span>24人</span>
      </div>
      <div class="item">
        <span>前端</span><span>6人</span>
      </div>
      <div class="item">
        <span>后端</span><span>10人</span>
      </div>
      <div class="item">
        <span>产品</span><span>8人</span>
      </div>
      <div class="item">
        <span>行政</span><span>6人</span>
      </div>
    </div>
    <div class="left-footer">
      <img src="../assets/img/add.png" alt=""><span>添加分组</span>
    </div>
  </div>
  <div class="department-structur-right">
    <div class="table-container">
      <div class="toolbar">
        <select id="select" class="form-control" name="filterAlgorithm">
          <option value="and" selected>and</option>
          <option value="or">or</option>
        </select>
        {{!-- <select id="select-place" class="form-control" name="filterAlgorithm">
          <option value="and" selected>and</option>
          <option value="or">or</option>
        </select> --}}
        <button class="btn btn-secondary" id="filterBy">搜索</button>
      </div>

      <table id="table"
        class="text-center table table-striped table-borderless"
        {{!-- data-show-pagination-switch="true" --}}
        data-pagination="true"
        {{!-- data-page-list="[3, 5, 8, 100, all]" --}}
        {{!-- data-show-footer="true" --}}
        {{!-- data-side-pagination="server"> --}}
      >
      </table>
      <script>
        var $table = $('#table')
        $(function() {
          $table.bootstrapTable({
            toolbar: '.toolbar',
            columns: [{
              title: '部门',
              field: 'department'
            }, {
              title: '姓名',
              field: 'name'
            }, {
              title: '手机号',
              field: 'tel'
            },{
              title: '身份',
              field: 'card'
            },{
              title: '状态',
              field: 'status'
            },{
              title: '操作',
              field: 'opt',
              class: 'last-column'
            }],
            data: [{
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            },
            {
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            },
            {
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            },
            {
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            },
            {
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            },
            {
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            },
            {
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            },
            {
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            },
            {
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            },
            {
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            },
            {
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            },
            {
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            },
            {
              department: '产品',
              name: '庄漂亮',
              tel: '1339658910',
              card: '超级管理员',
              status: '使用中',
              opt: operateFormatter()
            }]
          })
          //表头添加类名设置背景色
          /*$table.bootstrapTable('refreshOptions', {
            theadClasses: 'bg-blue'
          })*/
          //操作列表
          function operateFormatter(value, row, index) {
            return [
              '<a class="like opt" href="javascript:void(0)" title="Remove">启用</a>',
              '<a class="like opt" href="javascript:void(0)" title="Like">编辑</a>',
              '<a class="remove opt" href="javascript:void(0)" title="Remove">删除</a>'
            ].join('')
          }

          $('#filterBy').click(function () {
            console.log($('[name="filterAlgorithm"]'))
            var filterAlgorithm = $('[name="filterAlgorithm"]').val()
            $table.bootstrapTable('refreshOptions', {
              filterOptions: {
                filterAlgorithm: filterAlgorithm
              }
            })
            console.log($table.bootstrapTable)
            $table.bootstrapTable('filterBy', {
              id: 3,
              price: '$1'
            })
          })
        })
      </script>
    </div>
  </div>
</div>
{{/default}}