{{#>default}}
    <div class="department-help-content">
        <div class="help-content-top">底部栏</div>
        <div class="content-bottom-right">
            <img class="bottom-right-img" src="../assets/img/login-bg.png" alt="">
        </div>
        <div class="help-content-bottom">
            <div class="content-bottom-left">
                <div class="text-wrap">
                    <div class="text-wrap-list">
                        <div class="text-wrap-top">联络我们</div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">公司简称：</div>
                            <input id="companyName" class="title-input" type="text" placeholder="请输入">
                        </div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">联络方式：</div>
                            <input id="contactInfo" class="title-input" type="number" placeholder="请输入">
                        </div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">联络地址：</div>
                            <input id="contactAddress" class="title-input" type="text" placeholder="请输入">
                        </div>
                    </div>
                </div>
                <div class="text-wrap">
                    <div class="text-wrap-list">
                        <div class="text-wrap-top">联络我们</div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">页面名称：</div>
                            <input id="myPageName" class="title-input" type="text" placeholder="请输入">
                        </div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">跳转链接：</div>
                            <input id="mySkipJoin" class="title-input" type="text" placeholder="请输入">
                        </div>
                    </div>

                    <div class="text-wrap-list list-item" id="list-shop1">
                        <div class="text-wrap-wrap">
                            <div class="title-name">页面名称：</div>
                            <input id="myPageName1" class="title-input" type="text" placeholder="请输入">
                        </div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">跳转链接：</div>
                            <input id="mySkipJoin1" class="title-input" type="text" placeholder="请输入">
                        </div>
                    </div>

                    <div class="text-wrap-list list-item" id="list-shop2">
                        <div class="text-wrap-wrap">
                            <div class="title-name">页面名称：</div>
                            <input id="myPageName2" class="title-input" type="text" placeholder="请输入">
                        </div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">跳转链接：</div>
                            <input id="mySkipJoin2" class="title-input" type="text" placeholder="请输入">
                        </div>
                    </div>

                    <div class="text-wrap-list list-item" id="list-shop3">
                        <div class="text-wrap-wrap">
                            <div class="title-name">页面名称：</div>
                            <input id="myPageName3" class="title-input" type="text" placeholder="请输入">
                        </div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">跳转链接：</div>
                            <input id="mySkipJoin3" class="title-input" type="text" placeholder="请输入">
                        </div>
                    </div>

                    <div class="text-wrap-list list-item" id="list-shop4">
                        <div class="text-wrap-wrap">
                            <div class="title-name">页面名称：</div>
                            <input id="myPageName4" class="title-input" type="text" placeholder="请输入">
                        </div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">跳转链接：</div>
                            <input id="mySkipJoin4" class="title-input" type="text" placeholder="请输入">
                        </div>
                    </div>

                    <div class="text-wrap-list list-item" id="list-shop5">
                        <div class="text-wrap-wrap">
                            <div class="title-name">页面名称：</div>
                            <input id="myPageName5" class="title-input" type="text" placeholder="请输入">
                        </div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">跳转链接：</div>
                            <input id="mySkipJoin5" class="title-input" type="text" placeholder="请输入">
                        </div>
                    </div>
                    <div class="press-button">
                        <div class="button-left add-list">+</div>
                        <div class="button-left reduce-list">-</div>
                    </div>
                </div>

                <div class="text-wrap">
                    <div class="text-wrap-list">
                        <div class="text-wrap-top">友情链接</div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">页面名称：</div>
                            <input id="friendPageName" class="title-input" type="text" placeholder="请输入">
                        </div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">跳转链接：</div>
                            <input id="friendSkipJoin" class="title-input" type="text" placeholder="请输入">
                        </div>
                    </div>

                    <div class="text-wrap-list list-item" id="list-shop-bottom1">
                        <div class="text-wrap-wrap">
                            <div class="title-name">页面名称：</div>
                            <input id="friendPageName1" class="title-input" type="text" placeholder="请输入">
                        </div>
                        <div class="text-wrap-wrap">
                            <div class="title-name">跳转链接：</div>
                            <input id="friendSkipJoin1" class="title-input" type="text" placeholder="请输入">
                        </div>
                    </div>
                    <div class="press-button">
                        <div class="button-left add-list-bottom">+</div>
                        <div class="button-left reduce-list-bottom">-</div>
                    </div>
                </div>
                <button id="sumbit" class="preserve">提交</button>
            </div>
        </div>
        <script src="../assets/js/jquery-3.4.1.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script>
            $(function() {
                //定义变量
                let state = {
                    companyName: '', //公司名称
                    contactInfo: '', //联络方式
                    contactAddress: '', //联络地址
                    myPageName: '', //联系我们 页面名称
                    myPageName1: '', //联系我们 页面名称1
                    myPageName2: '', //联系我们 页面名称2
                    myPageName3: '', //联系我们 页面名称3
                    myPageName4: '', //联系我们 页面名称4
                    myPageName5: '', //联系我们 页面名称5
                    mySkipJoin: '',  //联系我们 跳转链接
                    mySkipJoin1: '', //联系我们 跳转链接1
                    mySkipJoin2: '', //联系我们 跳转链接2
                    mySkipJoin3: '', //联系我们 跳转链接3
                    mySkipJoin4: '', //联系我们 跳转链接4
                    mySkipJoin5: '', //联系我们 跳转链接5
                    friendPageName: '', //友情链接 页面名称
                    friendPageName1: '', //友情链接 页面名称1
                    friendSkipJoin: '', //友情链接 跳转链接
                    friendSkipJoin1: '', //友情链接 跳转链接1
                    listNum: 0, //增加减少 （联络我们）
                    listNums: 0, //增加减少 （友情链接）
                };

                //获取input内容
                $('input').bind('input propertychange', function(e){
                    const name = e.currentTarget.id; //获取input id名称
                    console.log(name + 'name');
                    state[name] = $(`#${name}`).val();   //赋值input 内容
                });

                //增加按钮
                $('.add-list').bind('click', function() {
                    if (state.listNum >= 5) {
                        alert('最大数为6')
                    } else {
                        state.listNum += 1;
                        $(`#list-shop${state.listNum}`).css('display', 'block');
                        $(`.reduce-list`).css({'border-color': 'rgba(10, 175, 222, 1)', 'color': 'rgba(10, 175, 222, 1)'});
                        if (state.listNum >= 5) {
                            $(`.add-list`).css({'border-color': '#666666', 'color': '#666666'});
                        }
                    }
                });

                //减少按钮
                $('.reduce-list').bind('click', function() {
                    if (state.listNum <= 0) {
                        alert('最小数为0')
                    } else {
                        $(`#list-shop${state.listNum}`).css('display', 'none');
                        state.listNum -= 1;
                        $(`.add-list`).css({'border-color': 'rgba(10, 175, 222, 1)', 'color': 'rgba(10, 175, 222, 1)'});
                        if (state.listNum <= 0) {
                            $(`.reduce-list`).css({'border-color': '#666666', 'color': '#666666'});
                        }
                    }
                });

                //增加按钮底部
                $('.add-list-bottom').bind('click', function() {
                    if (state.listNums >= 1) {
                        alert('最大数为2')
                    } else {
                        state.listNums += 1;
                        $(`#list-shop-bottom${state.listNums}`).css('display', 'block');
                        $(`.reduce-list-bottom`).css({'border-color': 'rgba(10, 175, 222, 1)', 'color': 'rgba(10, 175, 222, 1)'});
                        if (state.listNums >= 1) {
                            $(`.add-list-bottom`).css({'border-color': '#666666', 'color': '#666666'});
                        }
                    }
                });

                //减少按钮底部
                $('.reduce-list-bottom').bind('click', function() {
                    if (state.listNums <= 0) {
                        alert('最小数为0')
                    } else {
                        $(`#list-shop-bottom${state.listNums}`).css('display', 'none');
                        state.listNums -= 1;
                        $(`.add-list-bottom`).css({'border-color': 'rgba(10, 175, 222, 1)', 'color': 'rgba(10, 175, 222, 1)'});
                        if (state.listNums <= 0) {
                            $(`.reduce-list-bottom`).css({'border-color': '#666666', 'color': '#666666'});
                        }
                    }
                });

                //提交
                $("#sumbit").bind('click', function () {
                    const {companyName, contactInfo, contactAddress,
                        myPageName, myPageName1,myPageName2, myPageName3, myPageName4, myPageName5,
                        mySkipJoin, mySkipJoin1, mySkipJoin2, mySkipJoin3, mySkipJoin4, mySkipJoin5,
                        friendPageName, friendPageName1, friendSkipJoin, friendSkipJoin1, listNum, listNums} = state;
                    let myPageNameWrap = [myPageName];
                    let mySkipJoinWrap = [mySkipJoin];
                    let friendPageNameWrap = [friendPageName];
                    let friendSkipJoinWrap = [friendSkipJoin];
                    if (listNum != 0) {
                        for(let i=0; i<listNum; i++) {
                            if (i == 0) {
                                myPageNameWrap.push(myPageName1);
                                mySkipJoinWrap.push(mySkipJoin1);
                            }
                            if (i == 1) {
                                myPageNameWrap.push(myPageName2);
                                mySkipJoinWrap.push(mySkipJoin2);
                            }
                            if (i == 2) {
                                myPageNameWrap.push(myPageName3);
                                mySkipJoinWrap.push(mySkipJoin3);
                            }
                            if (i == 3) {
                                myPageNameWrap.push(myPageName4);
                                mySkipJoinWrap.push(mySkipJoin4);
                            }
                            if (i == 4) {
                                myPageNameWrap.push(myPageName5);
                                mySkipJoinWrap.push(mySkipJoin5);
                            }
                        }
                    }
                    if (listNums == 1){
                        friendPageNameWrap.push(friendPageName1);
                        friendSkipJoinWrap.push(friendSkipJoin1);
                    }
                    console.log(myPageNameWrap);
                    console.log(mySkipJoinWrap);
                    console.log(friendPageNameWrap);
                    console.log(friendSkipJoinWrap);
                    $.post(
                        url.addCententTitle,
                        data = {
                            comp_name: companyName,
                            intro: '您好!',
                            link_phone: contactInfo,
                            address: contactAddress,
                            page_name: myPageNameWrap,
                            page_link: mySkipJoinWrap,
                            friend_page: friendPageNameWrap,
                            friend_link: friendSkipJoinWrap,
                        },
                        function(res) {
                            if (res) {
                                if (res.status === 0) {
                                    alert(res.message)
                                } else {
                                    alert(res.message);
                                }
                            }
                        })
//                    if (!(/^([\u2E80-\u9FFF]+){6}$/.test(companyName))) {
//                        alert('公司名称最少为6个中文字')
//                    } else if (!(/^1[34578]\d{9}$/.test(contactInfo))) {
//                        alert('联络方式有误')
//                    } else if (contactAddress.length < 4) {
//                        alert('联络地址最少为4个字')
//                    } else {
//                        $.post(
//                            url.addCententTitle,
//                            data = {
//                                comp_name: companyName,
//                                intro: '您好!',
//                                link_phone: contactInfo,
//                                address: contactAddress,
//                                page_name: myPageNameWrap,
//                                page_link: mySkipJoinWrap,
//                                friend_page: friendPageNameWrap,
//                                friend_link: friendSkipJoinWrap,
//                            },
//                            function(res) {
//                            if (res) {
//                                if (res.status === 0) {
//                                    alert(res.message)
//                                } else {
//                                    alert(res.message);
//                                }
//                            }
//                        })
//                    }
                })
            })
        </script>
    </div>
{{/default}}
