{{#>default}}
    <div class="job-class-container index-manage-container">
  <div class="job-class-top">
    <span>首页管理</span>
    <button type="button" class="btn edit-btn">编辑</button>
  </div>
  <div class="table-container">
    <table
      id="table"
      class="text-center table table-striped table-borderless"
      data-pagination="true">
      {{!-- <thead>
        <tr>
          <th data-field="id">ID</th>
          <th data-field="name">Item Name</th>
          <th data-field="price">Item Price</th>
        </tr>
      </thead> --}}
    </table>
    <script>
      //编辑
      var $table = $('#table')
        $(function() {
          $table.bootstrapTable({
            toolbar: '.toolbar',
            columns: [{
              title: '展示模块',
              field: 'name'
            }, {
              title: '位置排序(数值越小排的越前)',
              field: 'sort'
            }, {
              title: '状态',
              field: 'status'
            }],
            data: [{
              name: '最新动态',
              sort: 1,
              status: '未展示'
            },{
              name: '最新动态',
              sort: 1,
              status: '未展示'
            },{
              name: '最新动态',
              sort: 1,
              status: '未展示'
            },{
              name: '最新动态',
              sort: 1,
              status: '未展示'
            }],
          })
          function operateFormatter(value, row, index) {
            console.log(value)
            return [
            `<div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">展示</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">不展示</label>
              </div>`
            ].join('')
          }
          $('.edit-btn').click(function() {
            $table.bootstrapTable('updateRow', {
              index: 0,
              row: {
                status: operateFormatter()
              }
            })
          })
        })
    </script>
  </div>
</div>
{{/default}}
