{{#>default}}
<div class="job-class-container info-center-container">
  <div class="job-class-top">
    <div class="card-body-title">
        资讯中心
    </div>
    <div class="card-body-btn">
      <button type="button" class="btn">展示在首页</button>
      <button type="button" class="btn">编辑</button>
    </div>
  </div>

  <div class="info-center-body">
      <div class="info-center-content">
        <ul>
          <li>
            <div>百万商家学习交流平台——商家社区全新上线！</div>
            <div class="li-line"></div>
            <div>2019-3-12</div>
          </li>
          <li>
            <div>百万商家学习交流平台——商家社区全新上线！</div>
            <div class="li-line"></div>
            <div>2019-3-12</div>
          </li>
          <li>
            <div>百万商家学习交流平台——商家社区全新上线！</div>
            <div class="li-line"></div>
            <div>2019-3-12</div>
          </li>
          <li>
            <div>百万商家学习交流平台——商家社区全新上线！</div>
            <div class="li-line"></div>
            <div>2019-3-12</div>
          </li>
        </ul>
      </div>
  </div>
</div>
{{/default}}