<link rel="stylesheet" href="../assets/css/intro.css">
{{#>default}}
    <div class="intro-container">
        <div class="intro-title border-bottom">
            <div class="float-left font-weight-bolder intro">公司简介</div>
            <div class="float-right d-flex justify-content-between">
                <div class="show-home font-weight-bold">展示在首页</div>
                <button class="btn text-white border-0 intro-edit">编辑</button>
            </div>
        </div>
        <div class="intro-desc">
            这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容 这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容这里是正文内容
        </div>
        <div class="intro-img-container text-center">
            <img src="../assets/img/login-bg.png" alt="">
        </div>
    </div>
{{/default}}