<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="微信小程序后台管理系统">
    <meta name="keyword" content="微信, 小程序, node, 后台管理系统">
    <title>H5start后台管理系统</title>
    <link rel="stylesheet" href="../assets//styles//bootstrap.min.css">
</head>
<body >
</body>
</html>