<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="中站科技官网后台">
    <title>中站科技官网后台</title>
    <link rel="stylesheet" href="../assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <script src="../assets/js/jquery-3.4.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/bootstrapValidator.min.js"></script>
</head>

<body>
    <div class="container-fluid login">
        <div class="toast position-fixed" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body"></div>
        </div>
        <div class="login-header bg-white d-flex container">
            <img src="../assets/img/home-logo.png" alt="" class="login-logo">
        </div>
        <div class="content">
            <div class="content-inner bg-white container">
                <div class="inner-left float-left">
                    <div class="left-img">
                        <img src="../assets/img/login-bg.png" alt="">
                    </div>
                </div>
                <div class="inner-right float-right card">
                    <div class="card-body">
                        <div class="w-100 text-center title">
                            <h5 class="font-weight-bol">中战科技官网后台</h5>
                        </div>
                        <form action="http://localhost:8000/api/login" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="phone" name="account" maxlength="11"
                                    aria-describedby="emailHelp" placeholder="请输入您的手机号">
                            </div>
                            <div class="form-group">
                                <input type="password" maxlength="12" class="form-control" id="password" name="password"
                                    placeholder="请输入密码">
                            </div>
                            <button type="submit" name="submit" class="btn btn-block btn-login text-white"
                                id="login">登入</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="login-footer text-center font-weight-bolder">闽ICP备19003290号-1 福州中战网络科技有限公司</div>
        </div>
    </div>
</body>
<script>

    $(function () {
        function toast(msg, callback) {
            $('.toast').toast('show');
            $('.toast-body').text(msg);
            $('.toast').on('hidden.bs.toast', function () {
                callback()
            })
        }
        $('form').bootstrapValidator({
            fields: {
                account: {
                    message: '手机号验证失败',
                    validators: {
                        notEmpty: {
                            message: '手机号不能为空'
                        },
                        regexp: {
                            regexp: /^[1](([3][0-9])|([4][5-9])|([5][0-3,5-9])|([6][5,6])|([7][0-8])|([8][0-9])|([9][1,8,9]))[0-9]{8}$/,
                            message: '请输入正确的手机号'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 5,
                            max: 12,
                            message: '密码长度必须在5到12位之间'
                        },
                    }
                }
            }
        })
            .on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();
                // Get the form instance
                var $form = $(e.target);
                // Get the BootstrapValidator instance
                const bv = $form.data('bootstrapValidator');
                // Use Ajax to submit form data
                $.post($form.attr('action'), $form.serialize(), function (res) {
                    if (res && res.status === 0) {
                        toast(res.message, function () {
                            window.location.href = '/delivery/home'
                        });
                    } else {
                        toast(res.message, function () {
                            location.reload()
                        })
                    }
                });
            });
    });
</script>

</html>