<!--职业分类页面-->
{{#>default}}
    <link rel="stylesheet" href="../assets/css/postSort.css">
<div class="container post-sort-content">
   <div class="top-content">
       <div class="post-sort-title">职位分类</div>
       <div class="button-content">
           <button type="button" class="btn">新增</button>
       </div>
   </div>

</div>

{{/default}}
