<style>
  #select {
    width: 100px;
    display: inline-block;
  }

  #table {
    border: 0;
  }
</style>
{{#>default}}
<link rel="stylesheet" href="../assets/css/recruic.css"/>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<div class="store-delivery-container">
  <div class="card">
    <div class="card-body">
      <div class="card-body-title">
        招聘信息管理
      </div>
      <div class="card-body-btn">
        <button type="button" class="btn">展示在首页</button>

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
          新增
        </button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="toolbar">
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="请输入职位关键字" name="searchWork">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
          <div class="col">
            <select class="form-control">
              <option>请选择工作地点</option>
            </select>
          </div>
          <div class="col">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
          </div>
          <div class="col">
            <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
          </div>
        </div>
      </form>
      <button class="btn btn-primary" id="filterBy">搜索</button>
		</div>

    <table id="table" class="text-center table table-striped table-borderless"
      {{!-- data-show-pagination-switch="true" --}} data-pagination="true"
      {{!-- data-page-list="[3, 5, 8, 100, all]" --}} {{!-- data-show-footer="true" --}}
      {{!-- data-side-pagination="server"> --}}>
    </table>
    <script>
      var $table = $('#table')
      //点击新建信息
      function addRecruit(){
        console.log($('.recJob').val(),'了；')
        return;
        const data = {
          post_name:$('.recJob').val(),
          email:$('.recEmial').val(),
          class:$('.recClass').val(),
          phone:$('.recPhone').val(),
          city_id:$('.recCity').val(),
          sort:$('.recSort').val(),
          detail_address:$('.recAdress').val(),
          work_content:$('.recContent').val(),
          post_job:$('.recTask').val(),
        }
        $.post(url.addMen, data, function(res) {
          console.log(res,'电饭锅看来')
          {{!-- location.reload() --}}
        })
        console.log(data,'是否')
      }
       $('#datetimepicker1').datetimepicker({
          format: 'YYYY-MM-DD',
          locale: moment.locale('zh-cn')
      });
      $('#datetimepicker2').datetimepicker({
          format: 'YYYY-MM-DD',
          locale: moment.locale('zh-cn')
      });
      $(function () {
        $('#form1').hide();
				var picker1 = $('#datetimepicker1').datetimepicker({
					format: 'YYYY-MM-DD',
					locale: moment.locale('zh-cn'),
					//minDate: '2016-7-1'
				});
				var picker2 = $('#datetimepicker2').datetimepicker({
					format: 'YYYY-MM-DD',
					locale: moment.locale('zh-cn')
				});
        
				//动态设置最小值
				picker1.on('dp.change', function(e) {
					picker2.data('DateTimePicker').minDate(e.date);
				});
				//动态设置最大值
				picker2.on('dp.change', function(e) {
					picker1.data('DateTimePicker').maxDate(e.date);
				});

          $('.rec-from').bootstrapValidator({
            fields: {
              recJob: {
                validators: {
                  notEmpty: {
                    message: '职位不能为空'
                  }
                }
              },
              recEmial: {
                validators: {
                  notEmpty: {
                    message: '邮箱不能为空'
                  },
                  regexp: {
                    regexp: /[\w!#$%&'*+\/=?^_`{|}~-]+(?:\.[\w!#$%&'*+\/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
                    message: '请输入正确的邮箱地址'
                  }
                }
              },
              recPhone: {
                message: '手机号验证失败',
                validators: {
                  notEmpty: {
                    message: '手机号不能为空'
                  },
                  regexp: {
                    regexp: /^[1](([3][0-9])|([4][5-9])|([5][0-3,5-9])|([6][5,6])|([7][0-8])|([8][0-9])|([9][1,8,9]))[0-9]{8}$/,
                    message: '请输入正确的手机号'
                  }
                }
              },
              recAdress: {
                validators: {
                  notEmpty: {
                    message: '地址不能为空'
                  },
                  stringLength: {
                    min: 2,
                    max: 50,
                    message: '地址内容需高于2字少于50字'
                  },
                }
              },
              recContent: {
                validators: {
                  notEmpty: {
                    message: '工作内容不能为空'
                  },
                  stringLength: {
                    min: 2,
                    max: 500,
                    message: '工作内容需高于2字少于500字'
                  },
                }
              },
              recTask: {
                validators: {
                  notEmpty: {
                    message: '职位要求不能为空'
                  }
                }
              }
            }
          })
          //表头添加类名设置背景色
          $table.bootstrapTable('refreshOptions', {
            theadClasses: 'bg-blue'
          })
          //操作列表
          function operateFormatter(value, row, index) {
            return [
              '<a class="like opt" id="table-edit" href="javascript:void(0)" title="Like">编辑</a>',
              '<a class="remove opt" id="table-del" href="javascript:void(0)" title="Remove">删除</a>',
              '<a class="like opt" id="table-start" href="javascript:void(0)" title="Remove">启用</a>',
              '<a class="like opt" id="table-see" href="javascript:void(0)" title="Remove">预览</a>'
            ].join('')
          }

          //点击搜索
          $('#filterBy').click(function () {
            const post_name = $("input[name='searchWork']").val();
            const start_time = $("#datetimepicker1").find("input").val();
            const end_time = $("#datetimepicker2").find("input").val();
            const arr = [];//取值的数组
            const keyArr = ['post_name','start_time','end_time'];
            const obj = {};//发过去的对象
            arr.push(post_name);
            arr.push(start_time);
            arr.push(end_time);
            keyArr.forEach((item,index)=>{
                arr.forEach((data,num)=>{
                  if(data && index === num){
                    obj[item] = data
                  }
                })
            })
            console.log(obj,'到付款了个')
            $.post(url.getRecreuit,obj,function(resData){
              $table.bootstrapTable('load', resData.data.rows)
            });
          })
        //请求列表数据
          $table.bootstrapTable({
            toolbar: '.toolbar',
            method: "post",
            url: url.getRecreuit,
            pageNumber: 1,
            pagination: true,
            sortable: true,
            pageSize: 5,
            pageList: [10, 25],
            responseHandler: function (res) {
              const arr = []
              console.log(res,'工行卡里')
              if(res.data.rows && res.data.rows.length>0){
                  res.data.rows.forEach(item => {
                    arr.push({
                      post_name: item.post_name,
                      name: item.name,
                      detail_address: item.detail_address,
                      start_time: item.start_time,
                      opt: operateFormatter()
                    })
                  })
              }
              return arr
            },
            columns: [{
                title: '职位名称',
                field: 'post_name'
              }, {
                title: '职位分类',
                field: 'name'
              }, {
                title: '工作地点',
                field: 'detail_address'
              }, {
                title: '发布时间',
                field: 'start_time'
              }, {
                title: '操作',
                field: 'opt',
                class: 'last-column',
                formatter: operateFormatter,
                events: operateEvent = {
                  "click #table-edit": function (e, value, row, index) {
                    e.preventDefault();
                    $('#exampleModalCenter').modal('show')
                  },
                  "click #table-del": function (e, value, row, index) {
                    $('#deletetable').modal('show')
                  },
                }
              }]
          })

          
      })
    </script>
  </div>
















  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered edit-modal" role="document">
      <div class="modal-content edit-modal">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">新增</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="rec-from">
              <div class="form-row">
                  <div class="form-group">
                      <label>职位名称：</label>
                      <input type="text" class="form-control" placeholder="请输入职位关键字" name="recJob" />
                  </div>
                  <div class="form-group">
                      <label>邮箱：</label>
                      <input type="text" class="form-control" placeholder="请输入邮箱" name="recEmial" />
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group">
                      <label>职位分类：</label>
                      <input type="text" class="form-control" placeholder="-请选择职位分类-" name="recClass" />
                  </div>
                  <div class="form-group">
                      <label>联系电话：</label>
                      <input type="text" class="form-control" placeholder="请输入联系电话" name="recPhone" />
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group">
                      <label>工作地点：</label>
                      <input type="text" class="form-control" placeholder="-请选择地点-" name="recCity" />
                  </div>
                  <div class="form-group">
                      <label>排序：</label>
                      <input type="text" class="form-control" placeholder="请输入" name="recSort" />
                  </div>
              </div>
              
              <div class="form-group">
                  <label>详细地址：</label>
                  <textarea type="text" class="form-control" placeholder="请输入详细地址" name="recAdress" ></textarea>
              </div>
              <div class="form-group">
                  <label>工作内容：</label>
                  <textarea type="text" class="form-control" placeholder="内容" name="recContent" ></textarea>
              </div>
              <div class="form-group">
                  <label>任职要求：</label>
                  <textarea type="text" class="form-control" placeholder="要求" name="recTask" ></textarea>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="addRecruit()" data-dismiss="modal">保存</button>
          <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
  {{!-- 删除按钮的弹框 --}}
  <div class="modal fade" id="deletetable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {{!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> --}}
        <div class="modal-body">
          确定删除该条类目
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
</div>
  {{!-- 模態框 --}}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
  {{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button> --}}
  <div class="modal fade modal-form" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">编辑</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="container-fluid">
              <div class="row">
                <div class="col-4">
                  <div class="form-group form-input-item">
                    <label for="recipient-name" class="col-form-label">职位名称</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group form-input-item">
                    <label for="message-text" class="col-form-label">邮箱</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
          <button type="button" class="btn btn-primary">保存</button>
        </div>
      </div>
    </div>
  </div>
{{/default}}