
{{#>default}}
  <link href="../assets/js/bootstrap-daterangepicker/daterangepicker.css?version"  rel="stylesheet">
  <script type="text/javascript"  src="../assets/js/bootstrap-daterangepicker/moment.min.js"  charset="UTF-8"></script>
  <script type="text/javascript"  src="../assets/js/bootstrap-daterangepicker/daterangepicker.js"  charset="UTF-8"></script>
<div class="store-delivery-container" id='recruic-wrap'>
  <div class="card">
    <div class="card-body">
      <div class="card-body-title">
        招聘信息管理
      </div>
      <div class="card-body-btn">
        <button type="button" class="btn">展示在首页</button>

        <button id="addFromMain" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
          新增
        </button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="toolbar">
      <form>
        <div class="row">
          <div class="col-2">
            <input type="text" class="form-control select-style" placeholder="请输入职位关键字" name="searchWork">
          </div>
          <div class="col-2">
            <select class="form-control select-style" id="job_class">
              <option value="">请选择职位分类</option>
            </select>
          </div>
          <div class="col-2">
            <select class="form-control select-style" id="work_place">
              <option value="">请选择工作地点</option>
            </select>
          </div>
          <div class="col-4">
              <div class="main">
                  <div class="input-group fl select-style">
                    <button type="button" class="btn btn-default form-control daterange-btn" id="daterange-btn">
                      <span></span>
                    </button>
                    <input type="hidden" value="" id="incomeStartDate">
                    <input type="hidden" value="" id="incomeEndDate">
                </div>
              </div>
            </div>
          <div class="col-2 text-right d-flex">
            <span class="screeningClear" onclick="clearSearch()">清空筛选条件</span>
            {{!-- <button type="button" class="screeningClear btn" onclick="clearSearch()">清空</button> --}}
            <button type="button" class="btn" id="filterBy">搜索</button>
          </div>
        </div>
      </form>
    </div>
      <table
        id="table"
        class="text-center table table-striped table-borderless"
        data-pagination="true"
      >
    </table>
	</div>
  <div class="toast position-fixed" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000">
    <div class="toast-body"></div>
  </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered edit-modal" role="document">
        <div class="modal-content edit-modal">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">新增</h5>
          </div>
          <div class="modal-body">
            <form class="rec-from">
                <div class="form-row">
                    <div class="form-group">
                        <label>职位名称：</label>
                        <input type="text" class="form-control recJob" placeholder="请输入职位关键字" name="recJob" />
                    </div>
                    <div class="form-group">
                        <label>人数：</label>
                        <input type="text" class="form-control recNum" placeholder="填写人数或范围" name="recNum"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>职位分类：</label>
                        <select class="form-control" id="edit_job_class" onchange="chooseEditJobClass(this.value)">
                          <option value="">请选择职位分类</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>薪资：</label>
                        <input type="text" class="form-control recMoney" placeholder="填写薪资或范围" name="recMoney"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>工作地点：</label>
                        <div class="edit_select" title="请选择工作地点">请选择工作地点</div>
                        <div class="scroll_work">
                          <div class="scroll_wrap">
                            <ul class="edit_work_place_list">
                            </ul>
                          </div>
                        </div>
                        <div class="city_place">
                          <div class="city_wrap">
                            <ul class="city_content">
                            </ul>
                          </div>
                        </div>
                        <div class="county_place">
                          <div class="county_wrap">
                            <ul class="county_content">
                            </ul>
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>排序：</label>
                        <input class="form-control recSort" placeholder="请输入" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                    </div>
                </div>
                
                <div class="form-group detail_area" style="float:left">
                    <label>详细地址：</label>
                    <textarea style="height:80px;" type="text" class="form-control recAdress" placeholder="请输入详细地址" name="recAdress" ></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group" style="margin:0;margin-left:15%;">
                        <label>联系电话：</label>
                        <input type="text" class="form-control recPhone" placeholder="请输入联系电话" name="recPhone"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group"></div>
                    <div class="form-group" style="margin-left:15%;">
                        <label>邮箱：</label>
                        <input type="text" class="form-control recEmial" placeholder="请输入邮箱" name="recEmial"/>
                    </div>
                </div>
                <div class="form-group main_info">
                    <label>工作内容：</label>
                    <textarea type="text" class="form-control recContent" placeholder="内容" name="recContent"></textarea>
                </div>
                <div class="form-group main_info">
                    <label>任职要求：</label>
                    <textarea type="text" class="form-control recTask" placeholder="要求" name="recTask"></textarea>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">返回</button>
            <button type="submit" class="btn btn-primary" onclick="addRecruit()">保存</button>
          </div>
        </div>
      </div>
    </div>
    {{!-- 删除按钮的弹框 --}}
    <div class="modal fade" id="deletetable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          {{!-- <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> --}}
          <div class="modal-body">
            确定删除该条类目
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="delete_list">确定</button>
          </div>
        </div>
      </div>
  </div>
    {{!-- 是否停用按钮的弹框 --}}
    <div class="modal fade" id="enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          {{!-- <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> --}}
          <div class="modal-body">
            确定操作？
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="enable_btn">确定</button>
          </div>
        </div>
      </div>
  </div>
  {{!-- 预览按钮的弹框 --}}
  <div class="modal fade prev_main" id="preview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
  </div>
    <script>
        $(function () {
        $('#daterange-btn span').html('发布开始时间 ~ 发布结束时间');
            $("#incomeStartDate").val(GetDateStr(-2));
            $("#incomeEndDate").val((new Date()).Format("yyyy-MM-dd"));
      
        $('#daterange-btn').daterangepicker({
                    startDate:moment().subtract(2, 'days'),
                    endDate: (new Date()).Format("yyyy-MM-dd"),
                    locale:{
                        format: 'YYYY-MM-DD',
                        separator: ' ~ '
                    }
                },
                function(start, end,label) {
                    if(end==null){
                        end = start;
                    }
                    $('#daterange-btn span').html(start.format('YYYY-MM-DD')+' ~ '+end.format('YYYY-MM-DD'));
                    if($("#incomeStartDate").val() != start.format('YYYY-MM-DD')&& $("#incomeEndDate").val() != end.format('YYYY-MM-DD')){
                        $(".timeSlot .slot").removeClass("active");
                    }
                    $("#incomeStartDate").val(start.format('YYYY-MM-DD'));
                    $("#incomeEndDate").val(end.format('YYYY-MM-DD'));
                });
        })
      /*获取今天前后的日期*/
        function GetDateStr(AddDayCount) {
            var dd = new Date();
            dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期
            var y = dd.getFullYear();
            var m = (dd.getMonth()+1)<10?"0"+(dd.getMonth()+1):(dd.getMonth()+1);//获取当前月份的日期，不足10补0
            var d = dd.getDate()<10?"0"+dd.getDate():dd.getDate();//获取当前几号，不足10补0
            return y+"-"+m+"-"+d;
        }
        /*选择到账日期区间*/
        function choseTimeSlot(obj,type) {
            $(obj).addClass("active").siblings(".slot").removeClass("active");
            if(type == 0){
                /*昨天*/
                var date = GetDateStr(-1);
                $('#daterange-btn span').html(date+' ~ '+date);
                $("#incomeStartDate").val(date);
                $("#incomeEndDate").val(date);
                $('#daterange-btn').data('daterangepicker').setStartDate(date);
                $('#daterange-btn').data('daterangepicker').setEndDate(date);
            }else if(type == 1){
                /*今天*/
                var date =(new Date()).Format("yyyy-MM-dd");
                $('#daterange-btn span').html(date+' ~ '+date);
                $("#incomeStartDate").val(date);
                $("#incomeEndDate").val(date);
                $('#daterange-btn').data('daterangepicker').setStartDate(date);
                $('#daterange-btn').data('daterangepicker').setEndDate(date);
            }else if(type == 2){
                /*前三天*/
                $('#daterange-btn span').html(GetDateStr(-2)+' ~ '+(new Date()).Format("yyyy-MM-dd"));
                $("#incomeStartDate").val(GetDateStr(-2));
                $("#incomeEndDate").val((new Date()).Format("yyyy-MM-dd"));
                $('#daterange-btn').data('daterangepicker').setStartDate(GetDateStr(-2));
                $('#daterange-btn').data('daterangepicker').setEndDate((new Date()).Format("yyyy-MM-dd"));
            }
        }
      /*格式化日期*/
      Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1,                 //月份
            "d+": this.getDate(),                    //日
            "h+": this.getHours(),                   //小时
            "m+": this.getMinutes(),                 //分
            "s+": this.getSeconds(),                 //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

      
    </script>
    <script>
      var province = {}//省
      var city = {};//市;
      var county = {};//县级
      var jobEditClass = ''//新增或编辑的  职位分类
      var deleteData = {}; //删除的数据
      var enableData = {}; //停用或启用数据
      //编辑或新增 选择职位分类的时候
      function chooseEditJobClass(data){
        jobEditClass = data;
      }

      // 关闭提示框
      function toast(message,callBack) {
        $('.toast').toast("show")
        $('.toast-body').text(message);
        $('.toast').on('hidden.bs.toast', function () {
          callBack && callBack()
        })
      }
      //列表移入
      function workList(name){
        const workPlaceList = $(`.${name}`);
        for(let i = 0;i<workPlaceList.length;i++){
          workPlaceList[i].onmousemove =  function(){
            for(let j = 0;j<workPlaceList.length;j++){
              workPlaceList[j].classList.remove('active_background');
            }
            this.classList.add('active_background')
          }
          workPlaceList[i].onmouseout =  function(){
            for(let j = 0;j<workPlaceList.length;j++){
              workPlaceList[j].classList.remove('active_background');
            }
          }
          workPlaceList[i].onclick =  function(){
            for(let j = 0;j<workPlaceList.length;j++){
              workPlaceList[j].classList.remove('active_background_two');
            }
            this.classList.add('active_background_two')
          }
        }
      }
      workList('work_place_list li');
      //搜索列表
      function searchList() {
        $table.bootstrapTable("showLoading");
        const post_name = $("input[name='searchWork']").val();
        const start_time = $('#daterange-btn span').html() && $('#daterange-btn span').html()!=='发布开始时间 ~ 发布结束时间' ? $('#daterange-btn span').html().split('~')[0] : '';
        const end_time = $('#daterange-btn span').html() && $('#daterange-btn span').html()!=='发布开始时间 ~ 发布结束时间' ? $('#daterange-btn span').html().split('~')[1] : '';
        const arr = [post_name,$("#job_class").val(),$("#work_place").val(),start_time,end_time];//取值的数组
        const keyArr = ['post_name','job_class','address_name','start_time','end_time'];
        const obj = {};//发过去的对象
        keyArr.forEach((item,index)=>{
            arr.forEach((data,num)=>{
              if(data && index === num){
                obj[item] = data
              }
            })
        })
        $.post(url.getRecreuit,obj,function(resData){
          let arr = []
          if(resData && resData.data.rows && resData.data.rows.length > 0){
            arr = resData.data.rows;
          }
          $table.bootstrapTable('load',arr )
          $table.bootstrapTable("hideLoading");
        });
      }
      function clearSearch(){
         $("input[name='searchWork']").val('');
         $("#job_class").val('');
         $("#work_place").val('');
         $('#daterange-btn span').html('发布开始时间 ~ 发布结束时间');
      }
      //点击新增按钮
      const addFromMain = document.getElementById('addFromMain');
      addFromMain.addEventListener('click',function(e){
        $('#exampleModalCenterTitle').html('新增')
        dataMain({})
        $('#exampleModalCenter').modal('show')
        e.stopPropagation();
      });

      var $table = $('#table')
      //新增保存
      function addRecruit(){
        if($('.recJob').val() && $('.recMoney').val() && $('.recNum').val() && $('.recEmial').val() && jobEditClass && $('.recPhone').val() && $('.recSort').val() && province.id && $('.recContent').val() && $('.recTask').val()){
            const data = {
              post_name:$('.recJob').val(),
              email:$('.recEmial').val(),
              job_class:jobEditClass,
              phone:$('.recPhone').val(),
              province_id:province.id,
              city_id:city.id,
              county_id:county.id,
              address_name:province?province.name+'-'+city.name+'-'+county.name:'',
              sort:$('.recSort').val(),
              detail_address:$('.recAdress').val(),
              work_content:$('.recContent').val(),
              post_job:$('.recTask').val(),
              require_num:$('.recNum').val(),
              salary:$('.recMoney').val(),
              start_time:new Date().getTime()
            }
            $.post(url.addMen, data, function(res) {
              if(res && res.status === 0){
                  province = city = county = {};
                  toast($('#exampleModalCenterTitle').html()+'成功',()=>{
                    $('#exampleModalCenter').modal('hide')
                    searchList();//重新请求数据
                  })
              }
            })
        }else{
            toast('内容未填或格式不正确')
        }
      }
      $(function () {
        
        //表单验证
          $('.rec-from').bootstrapValidator({
            fields: {
              recJob: {
                validators: {
                  notEmpty: {
                    message: '职位不能为空'
                  }
                }
              },
              recEmial: {
                validators: {
                  notEmpty: {
                    message: '邮箱不能为空'
                  },
                  regexp: {
                    regexp: /[\w!#$%&'*+\/=?^_`{|}~-]+(?:\.[\w!#$%&'*+\/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
                    message: '请输入正确的邮箱地址'
                  }
                }
              },
              recPhone: {
                message: '手机号验证失败',
                validators: {
                  notEmpty: {
                    message: '手机号不能为空'
                  },
                  regexp: {
                    regexp: /^[1](([3][0-9])|([4][5-9])|([5][0-3,5-9])|([6][5,6])|([7][0-8])|([8][0-9])|([9][1,8,9]))[0-9]{8}$/,
                    message: '请输入正确的手机号'
                  }
                }
              },
              recAdress: {
                validators: {
                  notEmpty: {
                    message: '地址不能为空'
                  },
                  stringLength: {
                    min: 2,
                    max: 50,
                    message: '地址内容需高于2字少于50字'
                  },
                }
              },
              recContent: {
                validators: {
                  notEmpty: {
                    message: '工作内容不能为空'
                  },
                  stringLength: {
                    min: 2,
                    max: 500,
                    message: '工作内容需高于2字少于500字'
                  },
                }
              },
              recTask: {
                validators: {
                  notEmpty: {
                    message: '职位要求不能为空'
                  }
                }
              }
            }
          })
          //获取职位分类数据
          $.post(url.getClassify, {}, function(res) {
            res.data.forEach(item=>{
                const str = document.createElement('option');
                const str1 = document.createElement('option');
                str.value = item.classify;
                str.innerHTML = item.classify;
                str1.value = item.classify;
                str1.innerHTML = item.classify;
                $('#edit_job_class').append(str)
                $('#job_class').append(str1)
            })
          })
          //获取省
          $.post(url.getPcatBak, {level:1}, function(res) {
            if(res && res.data.rows && res.data.rows.length >0){
                res.data.rows.forEach(item=>{
                    const str = document.createElement('li');
                    str.id = item.id;
                    str.innerHTML = item.name;
                    str.addEventListener('click',(ev)=>getCity(item,ev))
                    $('.edit_work_place_list').append(str)
                })
                workList('edit_work_place_list li')
            }
          })
          var editSelect =  document.getElementsByClassName('edit_select')[0]
          //点击省份，然后请求下面的地区
          function getCity(data,ev){
            const cityPlace = document.getElementsByClassName('city_place')[0];
            const cityContent = document.getElementsByClassName('city_content')[0];
            const countyPlace = document.getElementsByClassName('county_place')[0];
            cityPlace.style.display = 'block';
            countyPlace.style.display = 'none';
            cityContent.innerHTML = '';
              $.post(url.getPcatBak, {parentId:data.code}, function(resdata) {
              if(resdata && resdata.data.rows && resdata.data.rows.length >0){
                  resdata.data.rows.forEach(item=>{
                      const str = document.createElement('li');
                      str.id = item.id;
                      str.innerHTML = item.name;
                      str.addEventListener('click',(ev)=>getCounty(data,item,ev))
                      $('.city_content').append(str)
                  })
                  workList('city_content li');
                }
              })
            ev.stopPropagation();
          }
          //点击市
          function getCounty(value,data,ev){
            const countyPlace = document.getElementsByClassName('county_place')[0];
            const countyContent = document.getElementsByClassName('county_content')[0];
            countyPlace.style.display = 'block';
            countyContent.innerHTML = '';
              $.post(url.getPcatBak, {parentId:data.code}, function(res) {
              if(res && res.data.rows && res.data.rows.length >0){
                  res.data.rows.forEach(item=>{
                      const str = document.createElement('li');
                      str.id = item.id;
                      str.innerHTML = item.name;
                      str.addEventListener('click',(ev)=>getEitdCounty(value,data,item))
                      $('.county_content').append(str)
                  })
                  workList('county_content li')
              }
              })
            ev.stopPropagation();
          }
          //点击县级   设置所选的工作地点名称
          function getEitdCounty(data,value,res){
            province = data;
            city = value;
            county = res;
            editSelect.innerHTML = data.name+'-'+value.name + '-' +res.name;
            editSelect.title = data.name+'-'+value.name + '-' +res.name;
          }
          
          document.addEventListener('click',function(){
              const scrollWork = document.getElementsByClassName('scroll_work')[0];
              const cityPlace = document.getElementsByClassName('city_place')[0];
              const countyPlace = document.getElementsByClassName('county_place')[0];
              scrollWork.style.display = cityPlace.style.display = countyPlace.style.display ='none';
          })
          //编辑或添加的时候地址的点击
          editSelect.onclick = function(e){
            const scrollWork = document.getElementsByClassName('scroll_work')[0];
            scrollWork.style.display = 'block';
            e.stopPropagation();
          }
          //操作列表
          function operateFormatter(value, row, index) {
            return [
              '<a class="like opt" id="table-edit" href="javascript:void(0)" title="编辑">编辑</a>',
              '<a class="remove opt aActive" id="table-del" href="javascript:void(0)" title="删除">删除</a>',
              row.enable === 0 ? '<a class="like opt" id="table-start" href="javascript:void(0)" title="启用或停用">启用</a>':'<a class="like opt aActive" id="table-start" href="javascript:void(0)" title="Remove">停用</a>',
              '<a class="like opt" id="table-see" href="javascript:void(0)" title="预览">预览</a>'
            ].join('')
          }

        function formatDate(timestamp) {
            var date = new Date(timestamp );//时间戳为10位需*1000，时间戳为13位的话不需乘1000
            var Y = date.getFullYear() + '年';
            var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '月';
            var D = date.getDate() + '日 ';
            var h = date.getHours() + ':';
            var m = date.getMinutes() + ':';
            var s = date.getSeconds();
            return Y + M + D + h + m + s;
        }
        $table.show();
        $table.bootstrapTable('showLoading')
          //点击搜索
          $('#filterBy').click(searchList)
        //请求列表数据
          $table.bootstrapTable({
            toolbar: '.toolbar',
            method: "post",
            url: url.getRecreuit,
            pageNumber: 1,
            pagination: true,
            sortable: true,
            pageSize: 5,
            theadClasses: "thead-blue",
            pageList: [10, 25],
            formatLoadingMessage: function () {
              return '<span style="font-size:20px">加载中...</span>';
            },
            formatNoMatches:function(){
                return "暂无数据";
            },
            responseHandler: function (res) {
              const arr = [];
              const strArr = [];
              if(res.data.rows && res.data.rows.length>0){
                  res.data.rows.forEach(item => {
                    arr.push({
                      id:item.id,
                      post_name: item.post_name,
                      detail_address: item.detail_address,
                      address_name: item.address_name,
                      start_time: item.start_time,
                      work_content:item.work_content,
                      email: item.email,
                      job_class:item.job_class,
                      salary:item.salary,
                      require_num:item.require_num,
                      phone: item.phone,
                      province_id:item.province_id,
                      city_id:item.city_id,
                      county_id:item.county_id,
                      sort:item.sort,
                      post_job:item.post_job,
                      enable: item.enable
                    })
                    //获取工作地点
                    strArr.push({
                      value:item.address_name,
                      innerHTML:item.address_name
                    });
                  })
              }
              const option = [];//储存option的列表
              strArr.forEach(item=>{
                if(!option.some(aa=> item.innerHTML === aa)){
                  option.push(item)
                }
              })
              option.forEach(item=>{//赋值地址选择
                    const str = document.createElement('option');
                    str.value = item.value;
                    str.innerHTML = item.innerHTML;
                    $('#work_place').append(str)
              })
              return arr;
            },
            columns: [{
                title: '职位名称',
                field: 'post_name'
              }, {
                title: '职位分类',
                field: 'job_class'
              }, {
                title: '工作地点',
                field: 'address_name'
              }, {
                title: '发布时间',
                field: 'start_time',
                formatter:(res)=>{
                  return formatDate(res)
                }
              }, {
                title: '操作',
                field: 'opt',
                class: 'last-column',
                formatter: operateFormatter,
                events: operateEvent = {
                  "click #table-edit": function (e, value, row, index) {
                    $('#exampleModalCenterTitle').html('编辑')
                    dataMain(row)
                    e.preventDefault();
                    editSelect.title = row.address_name;
                    $('#exampleModalCenter').modal('show')
                  },
                  "click #table-del": function (e, value, row, index) {
                    deleteData = row;
                    $('#deletetable').modal('show')
                  },
                  "click #table-start": function (e, value, row, index) {
                    enableData = row;
                    $('#enable').modal('show')
                  },
                  "click #table-see": function (e, value, row, index) {
                    $('#preview').html(prevSee(row));
                    $('#preview').modal('show');
                  },
                }
              }]
          })
          //删除招聘信息
          $('#delete_list').click(function(){
            $.post(url.deleteRecreit,deleteData,function(res){
              if(res && res.status === 0){
                alert('删除成功');
                $('#deletetable').modal('hide')
                searchList();//重新请求数据
              }
            })
          })
          $('#enable_btn').click(function(data){
            $.post(url.enable,enableData,function(res){
              if(res && res.status === 0){
                alert('操作成功');
                $('#enable').modal('hide')
                searchList();//重新请求数据
              }
            })
          })
      })
      //表达数据集合
      function dataMain(row){
          $(".recJob").val(row.post_name);
          $(".recEmial").val(row.email);
          $(".recPhone").val(row.phone);
          $(".recSort").val(row.post_name);
          $(".recAdress").val(row.detail_address);
          $(".recContent").val(row.work_content);
          $(".recContent").val(row.work_content);
          $(".recTask").val(row.post_job);
          $("#edit_job_class").val(row.job_class);
          $(".edit_select").html(row.address_name);
          province.id = row.province_id;
          city.id = row.city_id;
          county.id = row.county_id;
      }
      //预览弹框结构
      function prevSee(data) {
        return `<div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">${data.post_name}</h5>
                </div>
                <div class="prev_main_info">
                  <div class="tab_prev">
                    <label>职位类型：</label>
                    <span>${data.job_class}</span>
                  </div>
                  <div class="tab_prev">
                    <label>薪资：</label>
                    <span>${data.salary}</span>
                  </div>
                  <div class="tab_prev">
                    <label>电话：</label>
                    <span>${data.phone}</span>
                  </div>
                </div>
                <div class="prev_main_info">
                  <div class="tab_prev">
                    <label>工作地点：</label>
                    <span>${data.address_name}</span>
                  </div>
                  <div class="tab_prev">
                    <label>人数：</label>
                    <span>${data.require_num}</span>
                  </div>
                </div>
                <div class="prev_main_info">
                  <div class="tab_prev">
                    <label>详情地址：</label>
                    <span>${data.detail_address}</span>
                  </div>
                  <div class="tab_prev">
                    <label>邮箱：</label>
                    <span>${data.email}</span>
                  </div>
                </div>
                <div class="work_content">
                  <div>
                    <label>工作内容：</label>
                    <p>${data.work_content}</p>
                  </div>
                  <div>
                    <label>岗位职责：</label>
                    <p>${data.post_job}</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
              </div>
            </div>`
      }
    </script>
</div>

{{/default}}