{{#>default}}
  <div class="store-delivery-container">
    <div class="card">
      <div class="card-body">
        <div class="card-body-title">
          招聘信息管理
        </div>
        <div class="card-body-btn">
          <button type="button" class="btn">展示在首页</button>
          <button type="button" class="btn btn-info">新增</button>
        </div>
      </div>
    </div>
  </div>
{{/default}}