{{#>default}}
<div class="turn-manage-container">
  <div class="turn-manage-top">
    轮播管理
  </div>
  <div class="turn-manage-body">
    <div class="turn-spec">
      <div>循环间隔<input/>秒</div>
      <button class="btn">预览</button> 
    </div>
    <div class="container turn-pic">
      <div class="row">
        <div class="turn-item col-4">
          <div>
            <img src="../assets/img/shop-avtar.png" alt="">
          </div>
          <img class="close_" src="../assets/img/close.png" alt="">
          <div class="turn-link"><input type="text" placeholder="请输入跳转地址"/></div>
        </div>
        <div class="turn-item col-4">
          <div>
            <img src="../assets/img/shop-avtar.png" alt="">
          </div>
          <img class="close_" src="../assets/img/close.png" alt="">
          <div class="turn-link"><input type="text" placeholder="请输入跳转地址"/></div>
        </div>
        <div class="turn-item col-4">
          <div>
            <img src="../assets/img/shop-avtar.png" alt="">
          </div>
          <img class="close_" src="../assets/img/close.png" alt="">
          <div class="turn-link"><input type="text" placeholder="请输入跳转地址"/></div>
        </div>
        <div class="turn-item col-4">
          <div>
            <img src="../assets/img/shop-avtar.png" alt="">
          </div>
          <img class="close_" src="../assets/img/close.png" alt="">
          <div class="turn-link"><input type="text" placeholder="请输入跳转地址"/></div>
        </div>
        <div class="col-4 turn-item clearfix">
          <div class="click-to-upload">

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{{/default}}