*{
    text-decoration: none !important;
    padding: 0;
    margin: 0;
}
.home-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 !important;
    .body-content{
        flex: 1;
        background-color: #F9F9F9;
        .header-container{
            height: 80px;
            line-height: 80px;
            background-color: #fff;
        }
        .mid-content{
            margin-left: 24px;
            margin-top: 24px;
            margin-right: 24px;
            background-color: #fff;
            //筛选模块样式
            #select {
                width: 100px;
                display: inline-block;
              }
            //表格公共样式
            .table-container{
                padding-left: 24px;
                padding-right: 24px;
                // thead> tr{
                //     height: 56px;
                //     line-height: 56px;
                // }
                .opt{
                    font-size: 14px;
                    color: #0AAFDE;
                    margin: 20px;
                }
                .opt.remove{
                   color: #FF9C39;
                }
                //行样式
                #table{
                    border: 0;
                }
                tbody tr{
                    height: 81px;
                    font-size: 14px;
                    td.last-column{

                    }
                }
                //表头样式
                thead tr{
                    background-color: #0AAFDE;
                    color: #fff;
                    font-weight: normal !important;
                    font-size: 14px;
                }
                .table-striped tbody tr:nth-of-type(odd){
                    background-color: #F7FDFF;
                }
                .fixed-table-pagination{
                    height: 140px;
                    line-height: 140px;
                    .float-right{
                        height: 140px;
                        line-height: 140px;
                    }
                }
            }
            //招聘信息样式
            .store-delivery-container{
                .card{
                    border: 0;
                    border-bottom: 1px solid #EEE;
                    width: 100%;
                    .card-body{
                        display: flex;
                        justify-content: space-between;
                        padding: 28px 24px;
                        align-items: center;
                        .card-body-title{
                            font-size: 24px;
                            font-weight: 600;
                            letter-spacing: 3px;
                        }
                        .card-body-btn{
                            .btn{
                                width: 128px;
                                height: 32px;
                                font-size: 14px;
                            }
                            .btn:nth-child(1){
                                color: #0AAFDE;
                            }
                        }
                    }
                }
            }
            //部门结构样式
            .department-structur-container{
                padding-right: 24px;
                display: flex;
                justify-content: space-between;
                .department-structur-left{
                    color: #333333;
                    width: 230px;
                    border-right: 1px solid #EEE;
                  .left-title{
                    font-size: 16px;
                    font-weight: bold;
                    padding-left: 24px;
                    height: 60px;
                    line-height: 60px;
                  }
                  .left-content{
                    .item{
                        font-size: 14px;
                        height: 40px;
                        line-height: 40px;
                        padding-left: 24px;
                        font-weight: 500;
                      span{
                          margin-right: 40px;
                      }
                    }
                    .item:nth-child(1){
                        background-color: #D5F5FF;
                    }
                    .item:not(:nth-child(1)):hover{
                        background:rgba(120,225,255,.1);
                    }
                  }
                  .left-footer{
                      padding-left: 24px;
                      font-size: 14px;
                      color: #0AAFDE;
                      margin-top: 30px;
                      img{
                          width: 14px;
                          margin-right: 10px;
                      }
                  }
                }
                .department-structur-right{
                  flex: 1;
                }
            }
            //职位分类样式
            .job-class-container{
                .job-class-top{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 24px 24px 0;
                    &>span{
                        font-size: 24px;
                        color: #333;
                        font-weight: bold;
                    }
                    &>.btn{
                        font-size: 14px;
                        background-color: #0AAFDE;
                        width: 128px;
                        height: 32px;
                        color: #fff;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    //侧边栏样式
    .sider-bar{
        width: 200px;
        height: fit-content;
        .sider-top{
            background-color: #12181A;
            height: 80px;
            line-height: 80px;
            text-align: center;
            img{
                width: 60%;
                margin: auto;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .sider-bottom{
            .card{
                border: 0;
                border-radius: 0 !important;
                .card-header{
                    background-color: #12181A;
                    border-radius: 0;
                    .btn-link.focus, .btn-link:focus{
                        text-decoration: none;
                    }
                }
                .collapse,.collapsing{
                    background-color: #EAEDF1;
                    .list-group-item{
                        border: 0;
                        background-color: #3B4458;
                        color: #8F9EB2;
                        font-size: 14px;
                        border-radius: 0;
                    }
                    .list-group-item.active{
                        background-color: #EAEDF1;
                        color: #0AAFDE !important;
                        border-left: 4px solid #0AAFDE;
                    }
                }
            }
        }
    }
}
