* {
    text-decoration: none !important;
    padding: 0;
    margin: 0;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 !important;

    .body-content {
        flex: 1;
        background-color: #F9F9F9;
        .header-container {
            height: 80px;
            line-height: 80px;
            background-color: #fff;
            position: fixed;
            // margin-top: 0;
            // flex: 1;
            width: 100%;
            z-index: 5;
            padding-left: 30px;
            padding-right: 30px;
            .header-info{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logout{

                }
            }
        }

        .mid-content {
            margin-left: 24px;
            margin-top: 24px;
            margin-right: 24px;
            background-color: #fff;
            // background: #0AAFDE;
            margin-top: 104px;

            //分页左侧提示文字隐藏
            .pagination-detail {
                display: none;
            }

            //筛选模块样式
            #select {
                width: 100px;
                display: inline-block;
            }

            //表格公共样式
            .table-container {
                padding-left: 24px;
                padding-right: 24px;
                //.row-container{
                //    padding-left:20px;
                //}
                // thead> tr{
                //     height: 56px;
                //     line-height: 56px;
                // }
                .opt {
                    font-size: 14px;
                    color: #0AAFDE;
                    margin: 20px;
                }

                .opt.remove {
                    color: #FF9C39;
                }

                //行样式
                #table {
                    border: 0;
                }

                tbody tr {
                    height: 81px;
                    font-size: 14px;
                    // td.last-column {}
                }

                //表头样式
                thead tr {
                    background-color: #0AAFDE;
                    color: #fff;
                    font-weight: normal !important;
                    font-size: 14px;
                }

                .table-striped tbody tr:nth-of-type(odd) {
                    background-color: #F7FDFF;
                }

                .fixed-table-pagination {
                    height: 140px;
                    line-height: 140px;

                    .float-right {
                        height: 140px;
                        line-height: 140px;
                    }
                }
            }

            //首页管理样式
            .index-manage-container{
                .table-container{
                    .module_number{
                        width: 40px;
                        background-color: rgb(225, 230, 231);
                        color: #333333;
                        border-radius: 4px;
                        height: 32px;
                        outline: 0;
                        border: 0;
                        text-align: center;
                    }
                }
            }

            //招聘信息样式
            .store-delivery-container {
                .card {
                    border: 0;
                    border-bottom: 1px solid #EEE;
                    width: 100%;

                    .card-body {
                        display: flex;
                        justify-content: space-between;
                        padding: 28px 24px;
                        align-items: center;
                        .card-body-title {
                            font-size: 24px;
                            font-weight: 600;
                            letter-spacing: 3px;
                        }

                        .card-body-btn {
                            .btn {
                                width: 128px;
                                height: 32px;
                                font-size: 14px;
                            }

                            .btn:nth-child(1) {
                                color: #0AAFDE;
                            }

                            .btn:nth-child(2) {
                                background-color: #0AAFDE;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            //部门结构样式
            .department-structur-container {
                padding-right: 24px;
                display: flex;
                justify-content: space-between;

                .toast {
                    width: 200px !important;
                    background: rgba(0, 0, 0, 0.5);
                    border: none !important;
                    color: #fff;
                    text-align: center;
                    left: 50%;
                    top: 50%;
                    z-index: 100000;
                    transform: translateX(-50%);
                    // opacity: 1;
                }

                .pagination-detail {
                    display: none !important;
                }

                .svg-img {
                    img {
                        width: 15px;
                        height: 15px;
                        opacity: 0;
                        transition: all 1s linear;
                    }
                }

                .item:hover img {
                    opacity: 1;
                }

                .job-modal-footer {
                    margin-bottom: 64px;

                    .btn {
                        width: 128px;
                        height: 32px;
                        font-size: 14px;
                        line-height: 20px;
                    }

                    .btn-left {
                        border: 1px solid #0AAFDE;
                        background: #fff;
                        color: #0AAFDE;
                        margin-right: 20px;
                    }

                    .btn-right {
                        background: #0AAFDE;
                        color: #fff;
                    }
                }

                .job-form {
                    margin: 0 auto !important;
                    // height: 343px;
                    padding: 40px 40px 0 40px;
                    box-sizing: border-box;

                    .job-form-label {
                        color: #999;
                        font-size: 14px;
                    }

                    .job-form-input {
                        height: 32px;
                        background: #F3F6FA !important;
                        border: none !important;
                    }

                    input::-webkit-input-placeholder {
                        /* 修改字体颜色 */
                        color: #A0AAB6;
                        /* 修改字号，默认继承input */
                        font-size: 12px;
                    }
                }

                input::-webkit-input-placeholder {
                    /* 修改字体颜色 */
                    color: #A0AAB6;
                    /* 修改字号，默认继承input */
                    font-size: 12px;
                    //    border: none !important;
                }

                .form-control {
                    border: none !important;
                    background: #F3F6FA;
                }

                .col-form-label {
                    color: #A0AAB6;
                    font-size: 14px;
                }

                .dep-footer {
                    .btn {
                        width: 128px;
                        height: 32px;
                        line-height: 20px;
                    }

                    .btn-left {
                        border: 1px solid #0AAFDE;
                        font-size: 14px;
                        color: #0AAFDE;
                    }

                    .btn-right {
                        background: #0AAFDE;
                        font-size: 14px;
                        color: #fff;
                    }
                }

                .department-structur-left {
                    color: #333333;
                    width: 230px;
                    border-right: 1px solid #EEE;

                    .left-title {
                        font-size: 16px;
                        font-weight: bold;
                        padding-left: 24px;
                        height: 60px;
                        line-height: 60px;
                    }

                    .left-content {
                        .item {
                            font-size: 14px;
                            height: 40px;
                            line-height: 40px;
                            padding-left: 24px;
                            font-weight: 500;

                            span {
                                margin-right: 40px;
                                width: 35px;
                            }
                        }

                        .item:nth-child(1) {
                            background-color: #D5F5FF;
                        }

                        .item:not(:nth-child(1)):hover {
                            background: rgba(120, 225, 255, .1);
                        }
                    }

                    .left-footer {
                        padding-left: 24px;
                        font-size: 14px;
                        color: #0AAFDE;
                        margin-top: 30px;
                        cursor: pointer;

                        img {
                            width: 14px;
                            margin-right: 10px;
                        }
                    }
                }

                .department-structur-right {
                    flex: 1;
                }
            }

            //职位分类样式
            .job-class-container {
                .job-class-top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 24px 24px 0;

                    &>span,
                    .card-body-title {
                        font-size: 24px;
                        color: #333;
                        font-weight: bold;
                    }

                    &>.btn {
                        font-size: 14px;
                        background-color: #0AAFDE;
                        width: 128px;
                        height: 32px;
                        color: #fff;
                        border-radius: 4px;
                    }

                    .card-body-btn {
                        .btn {
                            width: 128px;
                            font-size: 14px;
                            color: #0AAFDE;
                        }

                        .btn:nth-child(2) {
                            background-color: #0AAFDE;
                            color: #fff;
                        }
                    }
                }

                .job-modal-footer {
                    margin-bottom: 64px;

                    .btn {
                        width: 128px;
                        height: 32px;
                        font-size: 14px;
                        line-height: 20px;
                    }

                    .btn-left {
                        border: 1px solid #0AAFDE;
                        background: #fff;
                        color: #0AAFDE;
                        margin-right: 20px;
                    }

                    .btn-right {
                        background: #0AAFDE;
                        color: #fff;
                    }
                }

                .job-form {
                    margin: 0 auto;
                    // height: 343px;
                    padding: 40px 40px 0 40px;
                    box-sizing: border-box;

                    .job-form-label {
                        color: #999;
                        font-size: 14px;
                    }

                    .job-form-input {
                        height: 32px;
                        background: #F3F6FA !important;
                        border: none !important;
                    }

                    input::-webkit-input-placeholder {
                        /* 修改字体颜色 */
                        color: #A0AAB6;
                        /* 修改字号，默认继承input */
                        font-size: 12px;
                    }
                }

                #table thead {
                    background: #0AAFDE;
                    color: #fff;
                }

                // #table tr {
                //     height: 80px;
                //     line-height: 80px;
                // }
            }

            //资讯中心样式
            .info-center-container {
                .job-class-top {
                    padding-bottom: 24px;
                    border-bottom: 1px solid #eee;
                }

                .info-center-body {
                    padding: 20px;

                    .info-center-content {
                        ul {
                            li {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                height: 30px;

                                div:nth-child(1) {
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: #333;
                                }

                                div:nth-child(1)::before {
                                    content: '';
                                    width: 5px;
                                    height: 5px;
                                    border-radius: 100%;
                                    background-color: #77CFED;
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-right: 10px;
                                }

                                div:nth-child(3) {
                                    font-size: 12px;
                                    font-weight: 300;
                                    color: #999;
                                }

                                .li-line {
                                    flex: 1;
                                    height: 1px;
                                    margin-left: 20px;
                                    margin-right: 20px;
                                    background-color: #f2f2f2;
                                }
                            }
                        }
                    }
                }
            }

            //弹窗样式
            .modal-form {
                .modal-dialog {
                    width: 940px;
                    max-width: unset;
                }

                .form-input-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 14px;
                }
            }

            //轮播管理样式
            .turn-manage-container {
                .turn-manage-top {
                    padding: 12px 20px;
                    color: #333;
                    font-weight: bold;
                    font-size: 18px;
                    letter-spacing: 2px;
                    border-bottom: 1px solid #f2f2f2;
                }

                .turn-manage-body {
                    padding: 20px;

                    .turn-spec {
                        font-size: 12px;
                        color: #333;
                        font-weight: bold;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        input {
                            width: 20px;
                            background-color: #ccc;
                            border: 0;
                            outline: 0;
                            margin: 5px;
                            text-align: center;
                            color: #fff;
                        }

                        .btn {
                            color: #0AAFDE;
                            font-size: 12px;
                        }
                    }

                    .turn-pic {
                        padding-left: 50px;
                        padding-right: 50px;
                        padding-top: 30px;

                        // display: flex;
                        // flex-wrap: wrap;
                        // justify-content: space-between;
                        .turn-item {
                            position: relative;
                            margin-bottom: 40px;
                            min-width: 320px;
                            img {
                                width: 100%;
                                height: 100%;
                            }

                            .close_ {
                                width: 24px;
                                height: 24px;
                                background: red;
                                color: white;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                border-radius: 50%;
                                font-size: 16px;
                                right: 3px;
                                top: -12px;
                                cursor: pointer;
                            }

                            .turn-link {
                                margin-top: 24px;

                                input {
                                    width: 100%;
                                    background-color: #F3F6FA;
                                    color: #A0AAB6;
                                    font-size: 12px;
                                    height: 40px;
                                    border: 0;
                                    outline: 0;
                                    padding-left: 10px;
                                    font-weight: 300;
                                }
                            }
                        }

                        .click-to-upload {
                            height: 100%;
                            background-color: #F5F7FA;
                            border: 1px dashed #DEE1E7;
                            text-align: center;
                            position: relative;

                            p {
                                position: relative;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }

    //侧边栏样式
    .sider-bar {
        width: 200px;
        height: fit-content;

        .side-bar-cont {
            overflow: auto;
            position: fixed;
            margin-left: 0;
            width: 200px;
            z-index: 10;
            background-color: #12181A;
            height: 100vh;

            .sider-top {
                background-color: #12181A;
                height: 80px;
                line-height: 80px;
                text-align: center;

                img {
                    width: 60%;
                    margin: auto;
                    // position: relative;
                    // top: 50%;
                    // transform: translateY(-50%);
                }
            }

            .sider-bottom {
                .card {
                    border: 0;
                    border-radius: 0 !important;
                    .card-header {
                        background-color: #12181A;
                        border-radius: 0;
                        .btn-link.focus,
                        .btn-link:focus {
                            text-decoration: none;
                        }
                        .mb-0{
                            img{
                                width: 16px;
                            }
                        }
                    }

                    .collapse,
                    .collapsing {
                        background-color: #EAEDF1;

                        .list-group-item {
                            border: 0;
                            background-color: #3B4458;
                            color: #8F9EB2;
                            font-size: 14px;
                            border-radius: 0;
                        }

                        .list-group-item:hover {
                            background-color: #EAEDF1;
                            color: #0AAFDE !important;
                        }

                        .list-group-item.active {
                            background-color: #EAEDF1;
                            color: #0AAFDE !important;
                            border-left: 4px solid #0AAFDE;
                        }
                    }
                }
            }
        }
    }
}

//帮助中心  赵志强
.department-help-content {
    width: 100%;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
    position: relative;
    .content-bottom-right {
        position: absolute;
        top: 117px;
        left: 478px;
        .bottom-right-img {
            margin-left: 80px;
            margin-top: 30px;
            width: 160px;
            height: 160px;
        }
    }
    .bottom-right-imgs {
        margin-top: 30px;
        width: 160px;
        height: 160px;
    }

    .help-content-top {
        width: 100%;
        height: 72px;
        border-bottom: 1px solid #EEEEEE;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0 40px;
        box-sizing: border-box;
        color: #333333;
        font-weight: 700;
        font-size: 24px;
    }

    .help-content-bottom {
        width: 100%;
        padding: 40px 80px;
        box-sizing: border-box;

        .content-bottom-left {
            width: 100%;
            float: left;
            .text-wrap {
                width: 100%;
                margin-bottom: 24px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .text-wrap-list{
                    margin-right: 20px;
                }
                .list-item{
                    display: none;
                    margin-top: 26px;
                }
                .text-wrap-top {
                    color: #333333;
                    font-size: 18px;
                    font-weight: 700;
                }

                .text-wrap-wrap {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    height: 55px;
                    .title-name {
                        font-size: 14px;
                        color: #999999;
                    }

                    .title-input {
                        width: 320px;
                        height: 32px;
                        border: 0;
                        background: #F3F6FA;
                        border-radius: 4px;
                        padding-left: 14px;
                        box-sizing: border-box;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .press-button{
        width: 80px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .button-left{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid rgba(10, 175, 222, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 36px;
            color: rgba(10, 175, 222, 1);
            margin-top: 86px;
            padding-bottom: 8px;
            cursor: pointer;
        }
        .reduce-list{
            border-color: #666666;
            color: #666666;
        }
        .reduce-list-bottom{
            border-color: #666666;
            color: #666666;
        }
    }
    .preserve{
        width: 128px;
        height: 32px;
        background: #0AAFDE;
        color: #FFFFFF;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin:0 auto;
        cursor: pointer;
        margin-top: 40px;
    }
}



#recruic-wrap{
    .search-from{
        .search-input{
            width: 60%;
            display: inline;
        }
    }
    .myrow {
        display: flex;
        flex-direction: row;
        /*margin-left:1em;*/
    }
    .toolbar{
        form{
            float:left;
            input,select,.input-group{
                background:#F3F6FA;
                border:none;
                color:#A0AAB6;
                font-size:12px;
            }
            .input-group{
                button{
                    span{
                        color:#A0AAB6;
                        font-size:12px;
                    }
                    .time_close{
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        line-height: 15px;
                        text-align: center;
                        float: right;
                        border: 1px solid #ccc;
                        border-radius: 50%;
                        font-style: normal;
                        color: #ccc;
                        font-size: 12px;
                        margin-right: 8px;
                        margin-top:1px;
                    }
                }
            }
        }
    }
    #filterBy{
        float:right;
        margin:14px 100px 0 0;
        width:64px;
        height:32px;
        line-height:16px;
        color:#0AAFDE;
        border:1px solid #0AAFDE;
        background:#fff;
        font-size:14px;
    }
    .edit-modal{
        max-width: 1000px;
        width:940px;
        #exampleModalCenterTitle{
            margin:0 auto;
        }
        .modal-header{
            border:none;
        }
        .rec-from{
            .form-row{
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            .form-group{
                position: relative;
                display: flex;
                align-items: center;
                width:300px;
                label{
                    color:#999;
                    font-size:14px;
                    width:100px;
                    text-align: right;
                    margin-right:10px;
                }
                input::placeholder{
                    color:#A0AAB6;
                    font-size:12px;
                }
                textarea::placeholder{
                    color:#A0AAB6;
                    font-size:12px;
                }
                .form-control{
                    background:#F3F6FA;
                    border:none;
                }
            }
            .detail_area{
                margin-left:76px;
            }
            .main_info{
                width:100%;
                padding:0 60px;
            }
            input,textarea{
                font-size:12px;
                color:#A0AAB6;
            }
        }
        .modal-footer{
            border:none;
            margin:0 auto;
            button{
                width:128px;
                height:32px;
                line-height:16px;
                font-size:14px;
            }
            .btn-info{
                color:#0AAFDE;
                border:1px solid #0AAFDE;
                background:#fff;
            }
            .btn-primary{
                color:#fff;
                border:1px solid #0AAFDE;
                background:#0AAFDE;
            }
        }
    }

    .work_place_list{
        list-style: none;
        border:1px solid #ccc;
        li{
            padding-left:10px;
        }
    }

    .active_background{
        background:rgb(124, 124, 214);
        color:#fff;
    }

    .active_background_two{
        background:rgb(72, 72, 231);
        color:#fff !important;
    }
    #edit_job_class{
        color:#A0AAB6;
        font-size:12px;
    }
    .edit_select{
        position: relative;
        height:calc(1.5em + .75rem + 2px);
        width:100%;
        border-radius: 4px;
        border:1px solid #ccc;
        line-height: 30px;
        text-align: center;
        color:#A0AAB6;
        font-size:12px;
        background:#F3F6FA;
        border:none;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .scroll_work{
        display: none;
        width:200px;
        position: absolute;
        top:42px;
        left:84px;
        z-index: 2;
        height:200px;
        overflow: hidden;
        background:#fff;
        border:1px solid #ccc;
        border-radius: 6px;
        .scroll_wrap{
            width:260px;
            height:200px;
            overflow-y:scroll;
            .edit_work_place_list{
                list-style: none;
                width:220px;
                li{
                    padding-left:10px;
                    position: relative;
                    font-size:12px;
                    color:#A0AAB6
                }
            }
        }
    }


    .city_place{
        display: none;
        width:200px;
        position: absolute;
        top:42px;
        left:290px;
        z-index: 2;
        height:200px;
        overflow: hidden;
        background:#fff;
        border:1px solid #ccc;
        border-radius: 6px;
        .city_wrap{
            width:260px;
            height:200px;
            overflow-y:scroll;
            .city_content{
                list-style: none;
                width:220px;
                li{
                    padding-left:10px;
                    font-size:12px;
                    color:#A0AAB6
                }
            }
        }
    }
    .county_place{
        display: none;
        width:200px;
        position: absolute;
        top:42px;
        left:496px;
        z-index: 2;
        height:200px;
        overflow: hidden;
        background:#fff;
        border-radius: 6px;
        border:1px solid #ccc;
        .county_wrap{
            width:260px;
            height:200px;
            overflow-y:scroll;
            .county_content{
                list-style: none;
                width:220px;
                li{
                    padding-left:10px;
                    font-size:12px;
                    color:#A0AAB6
                }
            }
        }
    }


    .fl{
        float: left;
        width:280px;
        border:1px solid #ccc;
        border-radius: 4px;
        color:#ccc;
    }
    .timeSlot{
        line-height: 30px;
    }
    .slot{
        margin-left: 20px;
        cursor: pointer;
    }
    .slot.active{
        color: blue;
    }
    .pl-10{
        padding-left: 10px;
    }
    .pr-10{
        padding-right: 10px;
    }


    .prev_main{
        .modal-dialog{
            max-width: 850px;
            .modal-content{
                .modal-header{
                    border-bottom:none;
                    #exampleModalLabel{
                        font-size:24px;
                        color:#333;
                        font-weight:bold;
                    }
                }
                padding:20px;
                .prev_main_info{
                    .tab_prev{
                        float:left;
                        width:268px;
                        label{
                            font-size:14px;
                            color:#999;
                        }
                        span{
                            font-size:14px;
                            color:#333;
                        }
                    }
                }
                .work_content{
                    border-top:1px solid #EEEEEE;
                    margin-top:20px;
                    padding-top:20px;
                    div{
                        label{
                            float:left;
                            width:76px;
                            height:14px;
                            font-size:14px;
                            color:#999;
                        }
                        p{
                            float:left;
                            width:690px;
                            font-size:14px;
                            color:#333;
                        }
                    }
                }
                .modal-footer{
                    border-top:none;
                    .btn-primary{
                        margin:0 auto;
                        width:128px;
                        height:32px;
                        line-height:16px;
                    }
                }
            }
        }
    }

    .table .thead-blue th {
        color: #fff;
        background-color: #0AAFDE;
        border-color: #0AAFDE;
        font-size:14px;
    }
    #table-edit,#table-del,#table-start,#table-see{
        font-size:14px;
        color:#0AAFDE;
        margin:0 10px;
    }

    .aActive{
        color:#FF9C39 !important;
    }
}
.events {
    padding: 24px 0 0 40px;

    .event-modal .modal-dialog-centered {
        max-width: 800px !important;
    }

    .btn {
        width: 128px;
        height: 32px;
        line-height: 20px;
    }

    .btn-secondary {
        background: #fff;
        border-color: #0AAFDE;
        color: #0AAFDE;
    }

    .btn-primary {
        background: #0AAFDE;
        border-color: #0AAFDE;
    }

    input {
        margin-left: 40px;
        background: #F3F6FA !important;
        border: none !important;
    }

    textarea {
        height: 260px;
        margin-left: 40px;
        background: #F3F6FA !important;
        border: none;
    }

    select {
        border: none !important;
        background: #F3F6FA !important;
    }

    label {
        color: #999999;
        font-size: 14px;
    }

    .close-btn {
        position: absolute;
        right: 0;
        cursor: pointer;
    }

    .toast {
        width: 200px !important;
        background: rgba(0, 0, 0, 0.5);
        border: none !important;
        color: #fff;
        text-align: center;
        left: 50%;
        top: 50%;
        z-index: 100000;
        transform: translateX(-50%);
        // opacity: 1;
    }

    .card {
        width: 510px;
        background: #F5F5F5;
        border-radius: 10px;
        border: none !important;
        .card-body{
            padding-top: 8px;
            padding-bottom: 12px;
        }
        .card-header {
            background: #F5F5F5;
            border: none;
            padding-bottom: 0;
        }
    }

    .enent {
        margin-bottom: 30px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .card-container {
        // margin-top: 100px;
        height: 150px;
    }

    .date {
        line-height: 150px;
        width: 50px;
    }

    .line {
        width: 1px;
        height: 120%;
        background: #0AAFDE;
        margin: 0 38px 0 44px;
        position: relative;

        .cls-img {
            position: absolute;
            right: -12px;
            cursor: pointer;
        }

        .cle {
            width: 14px;
            height: 14px;
            background: #0AAFDE;
            border-radius: 50%;
            position: absolute;
            top: 48.5%;
            right: -7px;
        }
    }
}

// 资讯
.intro-container {
    background: #fff;
    // padding: 0 40px 120px  40px;
    padding: 0 40px;
    .form-check-input {
        margin-top: 30px;
        width: 18px;
    }
    .toast {
        width: 200px !important;
        background: rgba(0, 0, 0, 0.5);
        border: none !important;
        color: #fff;
        text-align: center;
        left: 50%;
        top: 50%;
        z-index: 100000;
        transform: translateX(-50%);
        // opacity: 1;
    }

    .intro-title {
        height: 72px;
        line-height: 72px;

        .intro {
            font-size: 24px;
            letter-spacing: 3px;
        }

        .show-home {
            color: #0AAFDE;
            font-size: 14px;
            margin-right: 26px;
            letter-spacing: 3px;
            cursor: pointer;
        }

        .intro-edit {
            background: #0AAFDE;
            width: 128px;
            height: 32px;
            letter-spacing: 3px;
            font-size: 14px;
            margin-top: 20px;
        }
    }

    .intro-desc {
        text-indent: 25px;
        letter-spacing: 2px;
        color: #333;
        font-size: 14px;
    }

    .intro-img-container {
        padding-top: 20px;

        img {
            margin: 0 auto;
            width: 70%;
            // height: 526px;
        }
    }

    .btn-edit {
        width: 128px;
        height: 32px;
        background: #0AAFDE;
        // margin: 0 auto;
        margin: 30px 0 !important;
        color: #fff;
    }
}
