.search-from{
    .search-input{
        width:60%;
        display: inline;
    }
}
.myrow {
    display: flex;
    flex-direction: row;
    /*margin-left:1em;*/
}
.toolbar{
    form{
        float:left;
    }
}
#filterBy{
    float:right;
    margin:10px 100px 0 0;
}
.edit-modal{
    max-width: 1000px;
    width:940px;
    #exampleModalCenterTitle{
        margin:0 auto;
    }
    .modal-header{
        border:none;
    }
    .rec-from{
        .form-row{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .form-group{
            position: relative;
            display: flex;
            align-items: center;
            width:300px;
            label{
                color:#999;
                font-size:14px;
                width:100px;
                text-align: right;
                margin-right:10px;
            }
            input::placeholder{
                color:#A0AAB6;
                font-size:12px;
            }
            textarea::placeholder{
                color:#A0AAB6;
                font-size:12px;
            }
            .form-control{
                background:#F3F6FA;
                border:none;
            }
        }
        .detail_area{
            margin-left:76px;
        }
        .main_info{
            width:100%;
            padding:0 60px;
        }
    }
    .modal-footer{
        border:none;
        margin:0 auto;
        button{
            width:128px;
            height:32px;
            line-height:16px;
            font-size:14px;
        }
        .btn-info{
            color:#0AAFDE;
            border:1px solid #0AAFDE;
            background:#fff;
        }
        .btn-primary{
            color:#fff;
            border:1px solid #0AAFDE;
            background:#0AAFDE;
        }
    }
}

.work_place_list{
    list-style: none;
    border:1px solid #ccc;
    li{
        padding-left:10px;
    }
}

.active_background{
    background:rgb(124, 124, 214);
    color:#fff;
}

.active_background_two{
    background:rgb(72, 72, 231);
    color:#fff;
}
#edit_job_class{
    color:#A0AAB6;
}
.edit_select{
    position: relative;
    height:calc(1.5em + .75rem + 2px);
    width:100%;
    border-radius: 4px;
    border:1px solid #ccc;
    line-height: 40px;
    text-align: center;
    color:#A0AAB6;
    background:#F3F6FA;
    border:none;
}
.scroll_work{
    display: none;
    width:200px;
    position: absolute;
    top:42px;
    left:62px;
    z-index: 2;
    height:200px;
    overflow: hidden;
    background:#fff;
    border:1px solid #ccc;
    .scroll_wrap{
        width:260px;
        height:200px;
        overflow-y:scroll;
        .edit_work_place_list{
            list-style: none;
            width:220px;
            li{
                padding-left:10px;
                position: relative;
            }
        }
    }
}


.city_place{
    display: none;
    width:200px;
    position: absolute;
    top:42px;
    left:270px;
    z-index: 2;
    height:200px;
    overflow: hidden;
    background:#fff;
    border:1px solid #ccc;
    .city_wrap{
        width:260px;
        height:200px;
        overflow-y:scroll;
        .city_content{
            list-style: none;
            width:220px;
            li{
                padding-left:10px;
            }
        }
    }
}
.county_place{
    display: none;
    width:200px;
    position: absolute;
    top:42px;
    left:480px;
    z-index: 2;
    height:200px;
    overflow: hidden;
    background:#fff;
    border:1px solid #ccc;
    .county_wrap{
        width:260px;
        height:200px;
        overflow-y:scroll;
        .county_content{
            list-style: none;
            width:220px;
            li{
                padding-left:10px;
            }
        }
    }
}


.fl{
    float: left;
    width:280px;
    border:1px solid #ccc;
    border-radius: 4px;
    color:#ccc;
}
.timeSlot{
    line-height: 30px;
}
.slot{
    margin-left: 20px;
    cursor: pointer;
}
.slot.active{
    color: blue;
}
.pl-10{
    padding-left: 10px;
}
.pr-10{
    padding-right: 10px;
}

.time_close{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    float: right;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-style: normal;
    color: #ccc;
    font-size: 12px;
    margin-top: 2px;
}

.prev_main{
    .modal-dialog{
        max-width: 850px;
        .modal-content{
            .modal-header{
                border-bottom:none;
                #exampleModalLabel{
                    font-size:24px;
                    color:#333;
                    font-weight:bold;
                }
            }
            padding:20px;
            .prev_main_info{
                .tab_prev{
                    float:left;
                    width:268px;
                    label{
                        font-size:14px;
                        color:#999;
                    }
                    span{
                        font-size:14px;
                        color:#333;
                    }
                }
            }
            .work_content{
                border-top:1px solid #EEEEEE;
                margin-top:20px;
                padding-top:20px;
                div{
                    label{
                        float:left;
                        width:76px;
                        height:14px;
                        font-size:14px;
                        color:#999;
                    }
                    p{
                        float:left;
                        width:690px;
                        font-size:14px;
                        color:#333;
                    }
                }
            }
            .modal-footer{
                border-top:none;
                .btn-primary{
                    margin:0 auto;
                    width:128px;
                    height:32px;
                    line-height:16px;
                }
            }
        }
    }
}