.home {
    //banner图
    .banner {
        height:400px;
        width: 100%;
        margin-bottom: 120px;
    }
    .headline {
        text-align: center;
        font-size: 26px;
        color: #25608D;
        margin-bottom: 80px;
    }
    //最新动态
    .dynamic {

    }

    //加入我们
    .product {
        margin-bottom: 120px;
        .product-list {
            display: flex;
            justify-content: space-around;
            .list {
                width: 80px;
                text-align: center;
                font-size: 16px;
                color: #666;
                .list-img {
                    width: 80px;
                    height: 80px;
                    border-radius: 20px;
                    margin-bottom: 14px;
                }
            }
        }
    }

    .participate {
        display: flex;
        padding: 0 180px;
        text-align: center;
        font-size: 20px;
        color: #333;
        margin-bottom: 80px;
        .possess-box {
            width: 43%;
            .possess {
                width: 100%;
                height: 386px;
                padding: 10% 5%;
                background: #58C5CE;
            }
        }
        .computers-box {
            width: 35%;
            .computers {
                width: 100%;
                height: 200px;
                background: #EC4F70;
                padding: 7% 10% 0;
            }
        }
        .manage-box {
            width: 22%;
            .manage {
                width: 100%;
                height: 280px;
                background: #F4B43C;
                padding: 0 45px 48px;
                display: flex;
                .manage-img {
                    margin-top: auto;
                    height: 120px;
                }
            }
        }
        .possess, .computers, .manage {
            margin-bottom: 5%;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

}
