.home {
    //banner图
    .banner {
        height:400px;
        width: 100%;
    }
    .dynamic {
        .dynamic-head {
            text-align: center;
            font-size: 26px;
            color: #25608D;
        }
    }
}
